[2020-06-27 17:24] Suprita-25 opened #36 "Timestamp not working inside detailed scan"
When scan runs, and activity is saved, the time is not updated on every activity change.

[2020-06-27 17:44] subha7595 opened #37 "Exception on start scan without selecting scan type"
When scan is started without selecting scan type, an exception is occurred

`
Request Method: | POST
-- | --
http://127.0.0.1:8000/start_scan/start/1
3.0.7
MultiValueDictKeyError
'scan_mode'
/usr/local/lib/python3.8/site-packages/django/utils/datastructures.py in __getitem__, line 78
/usr/local/bin/python3
3.8.3
['/app',  '/usr/local/lib/python38.zip',  '/usr/local/lib/python3.8',  '/usr/local/lib

[2020-06-29 16:36] #37 closed

[2020-07-04 06:29] Aju100 opened #41 "Issue on composing dockerfile"
Hi, @yogeshojha  I have recently cloned and followed up the instructions as mentioned in README.md. Here is the screenshot of the problem.
![yogeshproblem](https://user-images.githubusercontent.com/29862610/86506485-65255400-bdef-11ea-8bb4-bf8ae993e11f.png)

**My machine Info:**
Linux  5.4.0-40-generic  x86_64 GNU/Linux

**Steps to reproduce:**
`docker-compose up -- build`

But I have run this web

[2020-07-04 07:12] Aju100 commented on #41
I just change the port no of postgresql in docker container. It works.

[2020-07-04 07:25] #41 closed

[2020-07-05 15:15] yogeshojha opened #45 "Widget Cards are not responsive"
While on the dashboard, either zoom or resize the browser window, the cards do not resize properly. This has something to do with the Bootstrap grid system.

![Screenshot 2020-07-05 at 8 41 49 PM](https://user-images.githubusercontent.com/17223002/86535743-3945c380-bf00-11ea-9adc-4d375b4f72ff.png)

Maybe somebody can work on it, Good first issue!

Code for this should be inside /reNgine/dashboard/

[2020-07-05 15:29] Aju100 opened #46 "Vulnerable version of the library 'jquery' found"
Hi @yogeshojha  I ran rengine in my local machine with burpsuite to find any vulnerability and with an automated extension like retire.js give some issue regarding jquery one. Have a look at it.
## Issue detail
The library jquery version 3.1.1.min has known security issues. Supporting materials and references are listed below:
- https://snyk.io/vuln/SNYK-JS-JQUERY-174006
- https://blog.jquery.com/

[2020-07-05 15:35] Aju100 commented on #45
@yogeshojha yeah there is a problem out in **Recent Section** too. Have a look
![mobileresponsiveproblem](https://user-images.githubusercontent.com/29862610/86536181-4d3ff400-bf05-11ea-93da-945579adf499.png)

[2020-07-05 15:59] Suprita-25 commented on #45
@yogeshojha , I am working on it

[2020-07-05 16:52] #45 closed

[2020-07-05 16:56] Suprita-25 opened #50 "Scroll bar disappears on the small screen"
![image](https://user-images.githubusercontent.com/50537247/86537678-95174900-bf0e-11ea-8ad5-f24612882600.png)

[2020-07-06 14:03] #50 closed

[2020-07-07 15:48] subha7595 opened #57 "Disable buttons instead of Hiding"
From a UX prespective, I think it is better to disable the export buttons than hiding it.

![image](https://user-images.githubusercontent.com/47317268/86807171-3fba7380-c097-11ea-9ad7-195f66fd8227.png)

[2020-07-07 15:51] subha7595 commented on #57
I think this is better
![image](https://user-images.githubusercontent.com/47317268/86807746-c40cf680-c097-11ea-823c-e5f98fb65036.png)

[2020-07-07 16:26] yogeshojha commented on #57
This is better! Can you please create a PR?

[2020-07-07 16:27] subha7595 commented on #57
will work on this

[2020-07-07 16:36] #57 closed

[2020-07-08 05:08] yogeshojha opened #60 "reNgine Installation error on Windows"
There is a known issue for installing reNgine on windows based docker.

standard_init_linux.go:211: exec user process caused "no such file or directory"

Looks like this is the problem with CLRF.

Will fix this soon

[2020-07-09 04:02] #60 closed

[2020-07-10 03:50] yogeshojha commented on #46
Hi @Aju100 Please create a PR with updated jquery. Also, check if it breaks the UI.

[2020-07-10 03:58] yogeshojha opened #66 "Deleted scan engines are added due to the load data running inside entrypoint."
The default scan engines are loaded via fixtures from the entry point. In docker, entry point runs every time a container starts. So, if the default scan engines are deleted, on the next container run, the deleted scan engines are added back. The idea is to run

[code]
from RUN  rather than

[code]

[2020-07-10 04:14] Aju100 commented on #46
sure

[2020-07-10 10:20] deathflash1411 opened #70 "Add a button to delete scan."
Add a button to delete scan.

[2020-07-10 16:09] #70 closed

[2020-07-10 16:09] yogeshojha commented on #70
Fixed

[2020-07-10 18:09] deathflash1411 opened #72 "Web login"
Since most of the people run their recon tools on cloud servers, it would be great to have a web login.

[2020-07-10 19:26] subha7595 opened #73 "Floating button on Start scan page"
While someone will be going to click on  start the scan  button he/she might get confused as the start scan button is coming below all the engines.

[2020-07-10 19:44] subha7595 opened #74 "Clickable Subdomain link"
It will be nice to see the subdomain link clickable on detailed scan result

[2020-07-10 20:04] subha7595 opened #76 "cancel button is not available while adding a engine"
while going to add a new engine cancel button is not available over there

[2020-07-11 13:04] subha7595 opened #80 "filtering subdomain takeover part is not possible"
while getting more than 20k subdomains in a scan one can not look to each subdomain manually  .
so if we could filter this part like if someone directly searches for takeover phrase and gets the subdomain that can be took over.

[2020-07-11 13:47] yogeshojha commented on #72
This is much needed. This is in the roadmap, and thanks for the suggestion!

[2020-07-11 17:11] vinaynm opened #81 "Bug - Windows Installation Error"
While installing rengine container on windows, the CRLF is causing problem.

Look at this:

https://github.com/dhoer/docker-on-windows-gotchas

[code]

[2020-07-11 17:18] vinaynm commented on #81
I am working on this, I have found solution to this

[2020-07-11 17:24] #81 closed

[2020-07-13 09:11] haxormad opened #83 "Image gets loaded in the same page directly."
It would be great if Screnshots pops up and then can easily go back to where I was. It gets loaded directly in the same page and when I go back via browser back button, it leaves where I was previously.

[2020-07-13 09:39] yogeshojha commented on #83
Hi @haxormad,
You are right. I will work on this! How about hover? Hover to load the image inside the page itself. Will it do any better?

Thanks for creating this issue.

[2020-07-13 09:57] haxormad commented on #83
Rather than Hover, I guess Click gonna be better to open it fully popped out as sometimes mistakenly pointer could reach the Screenshot place.  And hover to show lil bit larger image in size than normally it shows without click/hover would be an additional awesome feature to have. So that I could know which asset is interesting enough to look at.

[2020-07-13 10:00] yogeshojha commented on #83
Great @haxormad , I will work on this!

[2020-07-13 12:19] yogeshojha commented on #83
Hi @haxormad,

I just fixed this, can you please verify this, if it works as expected, I will then merge into master.

`git clone https://github.com/yogeshojha/rengine --branch fix/imageload`

[2020-07-13 13:42] yogeshojha commented on #83
Fixed

[2020-07-13 13:42] #83 closed

[2020-07-13 15:44] #46 closed

[2020-07-14 03:17] #76 closed

[2020-07-14 03:17] yogeshojha commented on #76
The cancel button is not needed as users can simply go back

[2020-07-14 03:21] #74 closed

[2020-07-14 06:06] s41n1k opened #87 "Creating rengine_db_1 ... error"
While installing facing this problems

[code]

[2020-07-14 06:09] yogeshojha commented on #87
Hi,

port 5432 is being used by some other services, can you try stopping all the docker containers and re run docker compose up again?

Stop all the docker containers
`docker stop $(docker ps -a -q)`

Run once again
`docker-compose up`

Please let me know if this works

[2020-07-14 06:54] Aju100 commented on #87
@s41n1k  you can edit ur docker-compose.yml file and change the port as 5433. Run again it will work I have done the same procedure.

[2020-07-14 10:34] RAVE-V opened #88 "Feature: Grep using gf and gf-pattern"
Optional Grepping the output after fetching the endpoints from gau and hakwaler.
Showing possibility of open redirect or other vulns using gf and gf patterns.

[2020-07-14 14:19] 0xPrial opened #89 "Feature - Add a way to skip subdomain scan process & use external discovered subdomains lists"
In import target option we can feed multiple domains in txt list . But if you can add a feature where we can skip the Subdomain scanning part and import a subdomains list from external scanned tools  as there is many other way to gather Subdomains 😇 . Here we can’t skip the Subdomain discovery from scan engine . Hope you will take a look to skip the Subdomain discovery option , so the workflow wil

[2020-07-14 16:42] yogeshojha commented on #89
This is in the pipeline @prial261

I am currently working on it. Your suggestions are very much appreciated! Thank you once again

[2020-07-15 09:56] yogeshojha commented on #89
Thanks, @prial261

I have removed the subdomain only scan. Can you please check?

Also, I have added you on contributors.md list as a vote of thanks.

Please continue providing suggestions.

[2020-07-15 11:36] #87 closed

[2020-07-15 12:25] 0xPrial opened #91 "Feature - Add urlscan.io service's historical results data"
In urlscan.io Submit URLs to be scanned, search for historical results by IP, domain or URL, retrieve results and pivot to further leads. You can search all Public scans as well as your own Private scans on our platform. You can subscribe to our API plans as a Team and share your available quota amongst multiple users on the urlscan.io platform.

Use the **search for historical results** feature f

[2020-07-15 15:08] yogeshojha commented on #89
This is fixed, a new issue has been created for URLSCAN.IO, which will be worked on.

[2020-07-15 16:21] prial261 commented on #89
After you removed the subdomain only scan Now I can skip the subdomain discovery part but now if I import target's subdomain list in a txt file and want to do a scan using following scan engine configuration
<img width="456" alt="Screenshot 2020-07-15 at 10 18 22 PM" src="https://user-images.githubusercontent.com/25204004/87569563-1fb72f80-c6e9-11ea-91c4-01d04ccbbdc6.png">

Then I need to click on

[2020-07-15 16:23] yogeshojha commented on #89
You are absolutely right Prial.
But, currently, I am working on couple of other features, I will keep this as a priority and will add the feature soon.

[2020-07-16 09:45] yogeshojha commented on #88
Hi @RAVE-V
Thanks for your suggestions, I will implement this as well.

🚀

[2020-07-17 02:46] unl1k3ly commented on #72
if i could suggest, just upstream the gunicorn as a proxy using nginx and leave the auth part for the front end proxy. If you want me, I can do a pull around your docker-compose. Cheers

[2020-07-17 13:39] CowlingBanana opened #92 "Feature Request: Grouping Domains for a Particular asset"
Issue: Right now, all targets are separately placed and as such it is difficult to figure out who owns what and which one does a particular domain belong to.

Fix: Creating a grouping function where a group of targets can be listed under a single group body wherein targets of an asset can be easily located and tasks can be applied simultaneously.

TLDR: Grouping domains of a particular asset would

[2020-07-17 13:41] yogeshojha commented on #92
Awesome feature request, I will definitely work on this.

Thank you once again for the feature request.

[2020-07-19 20:00] yogeshojha commented on #72
Hi @unl1k3ly

I have plans to use gunicorn and nginx as a proxy. I already worked on a web login feature. I will release by this week. Login feature was much needed. Can you help me with the gunicorn and nginx part?
It's much needed and as I am busy on integrating couple other features, would really appreciate if you could help me with this.

Thanks
Stay healthy!

[2020-07-21 02:18] uBadRequest opened #95 "Feature - Schedule reoccurring scans and identify changes"
**Is your feature request related to a problem? Please describe.**
Unable to detect changes in a target over a period of time and schedule reoccurring scans.

**Describe the solution you'd like**
Schedule new scans, weekly/monthly, and then detecting if there were any changes in the title, status code, new subdomains for a target, or a previous subdomain that wasn't active has became active.

The

[2020-07-21 09:14] d1pakda5 opened #96 "Default Credentia"
Hi
kindly provide or update in the readme the default credential for 1st time login.

[2020-07-21 09:17] yogeshojha commented on #96
Hi @d1pakda5

Did you clone the feature/customiseYamlScan branch?

If so, please consider cloning master branch only. I am yet to work on the yaml customisation branch.

If you are looking for /admin password then, you need to create for yourself

Here is how you can do,

docker exec -it rengine_web_1 python manage.py createsuperuser

[2020-07-21 10:37] #96 closed

[2020-07-21 10:57] unl1k3ly commented on #72
Hi @yogeshojha sorry for delay response here... I've being pretty busy theses days :(

I was looking at your compose and you just need a upsteam your backend into nginx and pass it as a proxy so you fetch from nginx while doing auth.

I really dont want to mess up your config so, I've done in a separate file so you can test and have a look... Although, I think you just did using python engine rath

[2020-07-21 10:59] d1pakda5 opened #97 "Feature - If Possible Implement nuclei"
Hey

If possible implement https://github.com/projectdiscovery/nuclei
and https://github.com/projectdiscovery/nuclei-templates

create option to upload nuclei templates or auto-update through a button in the UI

[2020-07-21 12:03] d1pakda5 opened #98 "Feature - Add Search Feature"
Add a search field for searching using different filters such as technology,port,status code and same in uri like path,parameters
<img width="822" alt="Screenshot_38" src="https://user-images.githubusercontent.com/17035598/88052723-4c9b9480-cb78-11ea-8097-a2b8add4bafc.png">

[2020-07-21 12:04] yogeshojha commented on #98
Currently the search function allows you to search everything you have mentioned. Please give it a try

[2020-07-21 12:16] #98 closed

[2020-07-21 12:16] d1pakda5 commented on #98
Its working perfectly

[2020-07-21 12:53] d1pakda5 opened #99 "Bug - HTTP Crawler No result"
Found a bug? Please fill out the sections below. 👍

HTTP Crawler  not working

A summary of the issue.
I tried with 4-5 target but the HTTP Crawler result is zero always

### Steps to Reproduce

1. For a quick verification i created scan engine with Fetch All URLs only
2. scanned 4-5 targets
3. scan completed but no result

<img width="928" alt="Screenshot_39" src="https://user-images.githubuserco

[2020-07-22 16:17] yogeshojha commented on #95
Thanks @uBadRequest for the feature request. This feature is certainly coming in the coming versions. I will keep you updated.

[2020-07-22 16:17] yogeshojha commented on #97
Thanks @d1pakda5 for the feature request, this is coming in next release. Stay tunes <3

[2020-07-22 16:18] yogeshojha commented on #99
Oh Uh! this should not have been the case. Do you have logs? I can have a look at it.

[2020-07-22 17:18] d1pakda5 opened #101 "Bug - Login page not redirecting to Dashboard after login"
Hi
just updated to V3 and the login page not redirecting to the dashboard even after navigating manually to /Dashboard its prompting for login again

<img width="960" alt="Screenshot_41" src="https://user-images.githubusercontent.com/17035598/88207454-71256880-cc6d-11ea-9155-940eb5a74a8b.png">

[2020-07-22 17:25] yogeshojha commented on #101
This could have happened due to the migration. Can you please delete any older container and start the fresh install?

`docker system prune -a`

Remove all volumes

`docker volume rm -f $(docker volume ls -q)`

With the fresh install, you should not have any problem. I am also checking on my end, I will upload on my VPS and see if things are not working there. Give me some time.

[2020-07-22 17:36] yogeshojha commented on #101
Not sure, why it is not working at your end. I tried on my VPS and is working. Please delete rengine_web_1 container and  rengine_postgres_data volume. It should work without any problem, but please keep me updated on this. This is unusual, not working at your end.

[2020-07-22 17:41] d1pakda5 commented on #101
I tried all step you mentioned , did a fresh install  still facing the issue

<img width="957" alt="Screenshot_42" src="https://user-images.githubusercontent.com/17035598/88209673-b26b4780-cc70-11ea-886e-a914faca72a1.png">

[2020-07-22 17:45] yogeshojha commented on #101
No worries, I will help you. Please email me

yogesh.ojha11@gmail.com

I will connect via TeamViewer and figure it out.

[2020-07-22 17:50] d1pakda5 commented on #101
Sure @yogeshojha

[2020-07-22 18:18] uBadRequest opened #102 "Feature - Github Subdomains/Endpoints"
**Is your feature request related to a problem? Please describe.**
Github can contain subdomains and endpoints that can't be found anywhere else.

**Describe the solution you'd like**
There are a number of tools that implement the ability to search Github for endpoints/subdomains such as https://github.com/gwen001/github-search

Also, you may need to provide the ability to add github tokens/API ke

[2020-07-22 18:51] #101 closed

[2020-07-23 06:38] JoshuaMart opened #106 "Feature - Amass config, Subdomainizer & ParamSpider"
Hi,
Thanks for your tool, great job, I had started something similar but what you have done is really clean / functional.

I offer you some suggestions in addition to what others have already asked for (especially GF & Nuclei & github-subdomains.py)

- The ability to add an Amass config file, the detection power of the tool lies in the use of this file which allows to search for subdomains on serv

[2020-07-23 06:44] #72 closed

[2020-07-23 08:59] lucy9x opened #107 "Bug - Showing too many urls/directories in Subdomains Discovered"
### Issue Summary

The results of  Subdomains Discovered have shown too many urls/directory. This caused the interface to be broken.
Below is a picture of my experience
![](https://i.imgur.com/own2S2Y.png)

[2020-07-23 09:01] yogeshojha commented on #107
Hi @lucy9x ,

This is happening because the website is responding 200 Ok status for every files dirsearch is brute forcing.
This is not directly related to reNgine, but related to the website itself.

[2020-07-23 11:14] #107 closed

[2020-07-23 11:35] yogeshojha commented on #106
Awesome @JoshuaMart

I am working on this 🚀

[2020-07-23 12:05] thezoomerhacker commented on #102
The nuclei team has recently implemented @gwen001 tools into their pipeline. Since this tool uses subfinder, subdomains are already being pulled from github if the `~/.config/subfinder/config.yaml` file is correctly set up

[2020-07-23 13:01] attacker007 opened #109 "For Port Scan use this tool"
**Is your feature request related to a problem? Please describe.**

Nmap takes a lot of time to scan the ports as well as with masscan etc.

**Describe the solution you'd like**

Add this tool

[code]

**Describe alternatives you've considered**

Scans all 65k ports in 8 seconds (on 10k batch size).

**Additional context**

https://github.com/brandonskerritt/RustScan/blob/master/pictures/with_rust

[2020-07-23 13:12] HackerOnTwoWheels commented on #109
I second this!

[2020-07-23 14:42] S3ntago opened #110 "Feature - JSfiles Enumeration | Parameter Discovery | Patterns to discover SSRF - SQLi - RCE - IDORs parameters"
Find below list of features that will make the tool perfect in my opinion:

**1. Javascript files enumeration**
https://github.com/KathanP19/JSFScan.sh
A JSfiles enumeration module to extract hidden endpoints and secrets such as APIs keys will be an awesome module.
i'm using a tool called JSFScan which is a combine of multiple tools that take a list of subdomains.txt file and do the below:
- Gathe

[2020-07-23 15:50] selomoscar2 opened #112 "installation crash"
I follow the setup steps (docker and docker-compose are working well) but the installation crash on rengine_web_1 process and say that it cannot find  "docker-entrypoint.sh" for container_linux.go. I delete the folder, clone it and restart installation but the same error is still display.

### Technical details
My OS is windows 10.

[2020-07-23 15:55] selomoscar2 commented on #112
![ren1](https://user-images.githubusercontent.com/56925898/88308513-06277080-cd05-11ea-9403-fe356c3ca3f5.PNG)

[2020-07-23 18:24] Fawadkhanfk opened #113 "Feature - Your Awesome feature title"
Add Gospider  and Also Github Domian Discover also Dns Permutation And Virtual Host Discovery Use https://github.com/dark-warlord14/ffufplus

For That

also Add Nuclei
Amass for some domain brute force or add some other tools for subdomain Brute forceing

[2020-07-23 18:29] Mubspatel opened #114 "rengine stop working properly after setting DEBUG=0"
Hi,

Thank you so much for making this tool publicly available. I encountered some errors when uploading a wordlist, And the error was disclosing many sensitive information as we know. As I am also running this tool on my server (Public IP). So, leaving DEBUG as True might be a problem in the future. So, Please make this little change in this tool.

Best regards,
Mubassir

[2020-07-24 02:20] marcelo321 opened #116 "Is it possible to set up the server accessible from public ip?"
I would love to run this in my VPS but I'm not sure if i would be able to access it from anywhere I want.

What should i modify to do it correctly?

[2020-07-24 02:28] lucy9x commented on #107
Hi @yogeshojha
Yes, the website is responding 200 Ok status for every files dirsearch is brute forcing. So I think this page should only show a summary of the scan results and need another page to display details scan results of domain

[2020-07-24 03:17] yogeshojha commented on #116
Yes it works right out of the box, your_ip:8000 should work, however, debug should be turned off in django

But there are some problems with django debug as 0, let ne figure it out.

[2020-07-24 05:40] yogeshojha commented on #109
Let's keep this open, I will be working on this.

[2020-07-24 05:49] secureITmania opened #117 "Feature - Instead of dirsearch use meg tool to remediate 429 status error"
The application is using dirsearch tool to brute-force the directories but this will give **429 status code** because most of the website implementing the rate-limiting. So instead of the dirsearch use meg tool on all subdomains with a custom wordlist.

Please have a look at this tool.

https://github.com/tomnomnom/meg

[2020-07-24 06:03] attacker007 commented on #109
Hi @yogeshojha  I've just checked that same thing can be achieved via nmap with following Command:

[code]

So, That's why i closed it. I also thought that other suggestions in queues are better to be implemented first than this. Its not worth to open... :)

You've only added your Paypal address for funding .. Add Crypto Addresses too..

Sincerely,

[2020-07-24 08:00] maverickNerd commented on #117
No, I don't agree, ffuf or dirsearch are good for directory bruteforcing, meg is good when you have many hosts and you want to search for a some particular endpoints, as meg captures the full response.

[2020-07-24 08:29] securITymania commented on #117
Lol! You found interesting stuff using dirsearch on the Bugcrowd or hackerone targets 🤔

Happy hunting

[2020-07-24 09:13] briefcasehi opened #119 "how to clear postgresql data?"
I remove the docker images and reinstall it ，the data is still here. How should i do?

[2020-07-24 09:15] yogeshojha commented on #119
Stop all the docker containers,

and then

`docker volume ls`

`docker volume rm -f your_VOLUME_NAME`

[2020-07-24 09:15] #119 closed

[2020-07-24 09:21] Creased opened #120 "Bug - nc not found"
### Issue Summary

When running the project using `docker-compose up`, we get the following error message:

[code]

### Steps to Reproduce

[code]

### Technical details

The installation of netcat binary is missing from the [Dockerfile](Dockerfile).

[2020-07-24 09:26] briefcasehi opened #121 "run "docker exec -it rengine_web_1 /bin/bash" get error"
I want to add $HOME/.config/subfinder/config.yaml file , but i get error when execute the command

[code]

[2020-07-24 10:14] maverickNerd commented on #117
Ofcourse I found, I use ffuf most of the time though.

[2020-07-24 11:05] cehbikramrock opened #123 "Starting rengine-master_db_1 ... error"
docker-compose up -d this is not worked

Starting rengine-master_db_1 ...
Starting rengine-master_db_1 ... error

ERROR: for rengine-master_db_1  Cannot start service db: driver failed programming external connectivity on endpoint rengine-master_db_1 (2df8216f6d26811d173c9e0471534928e41f890996067b9ec2481727b64228ea): Error starting userland proxy: listen tcp 0.0.0.0:5432: bind: address already in

[2020-07-24 11:26] g33kyshivam commented on #117
Meg is different than dirsearch/fuff. Meg should be used for certain endpoints which you want to spray against multiple targets.

[2020-07-24 12:03] #123 closed

[2020-07-24 12:04] secureITmania commented on #121
try below this will work

sudo docker exec -it rengine_web_1 /bin/sh

[2020-07-24 12:09] cehbikramrock commented on #72
docker exec -it rengine_web_1 python manage.py createsuperuser
not work #HELP me

[2020-07-24 12:22] secureITmania commented on #117
Ok, I am not downgrading the dirsearch tool but here the problem is the most of the bug bounty programs have rate limiting. If I ran the dirsearch tool or fuff finally the scan end-up with 429 status code and my IP is blocked. So finally, I shifted to meg tool and the data saved from this tool help me to further analysis about the target. Hope all you understand

[2020-07-24 12:26] maverickNerd commented on #117
I hardly found any website till now which has directly bruteforce limit, most of them does not have, and even if they have you can delay your requests. As told by Shivam too, meg is good for spraying multiple hosts multiple endpoints which you know are vulnerable, but not for directory bruteforcing, look at ffuf, everyone is using it, it is so fast still I never got blocked by waf and got 429. May

[2020-07-24 12:30] pappan9100 commented on #106
Yes, need a provision for providing word-list option for subdomain discovery

[2020-07-24 13:38] chawdamrunal opened #124 "support"
when i try docker-compose up -d https://google.com
then it will show ERROR: No such service: https://google.com

[2020-07-24 14:32] cehbikramrock opened #125 "error login panel"
`docker exec -it rengine_web_1 python manage.py createsuperuser`
not work !!

''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
┌─[root@parrot]─[/home/bikram/Downloads/rengine-master]
└──╼ #sudo docker exec -it rengine_web_1 python3 manage.py createsuperuser
Error: No such

[2020-07-24 14:50] briefcasehi commented on #121
Thanks a lot!

[2020-07-24 14:50] #121 closed

[2020-07-24 14:59] Creased commented on #125
The Docker containers must be created and started before trying to setup users. Can you show us the output of the following command:

[code]

[2020-07-24 15:35] Creased commented on #124
What exactly are you trying to do? You should read the documentation of `docker-compose` ([here](https://docs.docker.com/compose/reference/)).

The `docker-compose up -d [SERVICE...]` command is used to start and run the docker containers (associated to the services provided in the command line) in background.

[2020-07-24 16:13] attacker007 commented on #117
Hi there,

In my opinion Dirble is better than dirsearch .. moreover ffuf is faster :)

[2020-07-24 16:17] attacker007 commented on #124
Hey @chawdamrunal

Don't use tld with flag -d just simply use "docker-compose up --build"  or "docker-compose up -d"
...  Domain (for which you need testing) will be added in UI after you login.

Please close this Ticket as there are multiple other important issues which need attention.

Thanks !!

[2020-07-24 16:52] danzee1 opened #126 "For Request Smuggling Identification - Add this Tool"
**Is your feature request related to a problem? Please describe.**

Tool need to be powered with http request smuggling identification mechanism.

**Describe the solution you'd like**

Adding this tool will

[code]

[2020-07-24 17:48] cehbikramrock commented on #125
sure sir !!

─[root@parrot]─[/home/bikram/Downloads/rengine-master]
└──╼ #docker ps -a
CONTAINER ID        IMAGE                  COMMAND                  CREATED             STATUS                     PORTS                              NAMES
2292be712d0f        rengine-master_web     "/app/docker-entrypo…"   6 hours ago         Up 2 minutes               0.0.0.0:8000->8000/tcp             rengine

[2020-07-24 18:34] JoshuaMart commented on #125
Hi,
Maybe try to stop all your containers & relaunch rengine.

[code]

Regards

[2020-07-24 19:07] yogeshojha commented on #106
Thank you very much @JoshuaMart for the detailed Feature request, ability to perform amass-active and amass passive scan or both are ready to be merged.

All thanks to @Serizao!

the config feature, I will be working tommorow and we can close this Feature request.

[2020-07-24 19:09] Creased commented on #125
The container namespace ID for docker-compose services is defined based on the current working directory name ("rengine-master" here).

Here is a quick fix:

[code]

[2020-07-24 19:29] #125 closed

[2020-07-24 19:37] JoshuaMart commented on #106
Hi, guys,
No worries, it's the least you can do to make a correct request :)

Looking forward to these new features, thank's @serizao :)

It would be nice to make a short guide (when you have time) on how to add a tool properly or make some modifications. (A PR contribution guide with which files we need to modify).

Regards,
Jomar

[2020-07-24 19:54] Fawadkhanfk opened #131 "Commands and tools"
cat SecLists/Discovery/DNS/dns-Jhaddix.txt | subgen -d DOMAIN.TLD | zdns A --name-servers 1.1.1.1 --threads 500 | jq -r "select(.data.answers[0].name) | .name"

#bugbountytips

python3 [dirsearch.py](http://dirsearch.py/) -e conf,config,bak,backup,swp,old,db,sql,asp,aspx,aspx~,asp~,py,py~,rb,rb~,php,php~,bak,bkp,cache,cgi,conf,csv,html,inc,jar,js,json,jsp,jsp~,lock,log,rar,old,sql,sql.gz,[http://s

[2020-07-24 22:55] marz-hunter commented on #131
I think dir scan is faster using ffuf

ffuf -mc 200 -t 200 -c -H "X-Forwarded-For: 127.0.0.1" -H "User-Agent: Mozilla/5.0 (X11; Linux x86_64; rv:72.0) Gecko/20100101 Firefox/72.0" -u $sites -w wordlist/dicc.txt -D -e js,php,bak,txt,asp,aspx,jsp,html,zip,jar,sql,json,old,gz,shtml,log,swp,yaml,yml,config,save,rsa,ppk

[2020-07-24 23:45] moriarity9211 opened #132 "Feature - Add Pause Option"
If possible please add Pause option to Stop Scan for one domain and being active for others
.

[2020-07-25 01:29] cehbikramrock commented on #125
Dear sir !
i still found same problems.
┌─[✗]─[root@parrot]─[/home/bikram/Downloads/rengine-master]
└──╼ #docker-compose up -d
rengine-master_db_1 is up-to-date
rengine-master_web_1 is up-to-date
┌─[root@parrot]─[/home/bikram/Downloads/rengine-master]
└──╼ #docker ps -a -q
985fdff16b3f
59adf89bd2c3
796fddb6e8d1
3a8573d4a52a
02737056881b
┌─[root@parrot]─[/home/bikram/Downloads/rengine-master]
└──╼

[2020-07-25 02:26] marz-hunter commented on #131
I also suggest to filter only the 200OK directory that is displayed. because if you display it all there will be a lot of garbage that fills the directory listing

[2020-07-25 05:23] maverickNerd commented on #132
Pause is not possible I guess, as it utilizes other tools and runs those commands. Interrupting them in between will mess results.

[2020-07-25 05:36] attacker007 commented on #132
Hi @maverickNerd  I think a sudden pause may not be possible.. But a slow Pause process is possible... Many tools have that function.

[2020-07-25 05:37] maverickNerd commented on #132
Yes once the current threads/process is over, it can be done. Agree with you.

[2020-07-25 05:40] virenpawar opened #133 "[Bug] Subdomains Discovered - are not showing after scan is complete."
### Issue Summary

While scan was in progress, subdomains discovered was showing and after scan is completed, subdomains discovered are not visible anymore. They are available to export but aren't displayed from dashboard.

### Steps to Reproduce

1. Started scanning "droom.in".
2. Used full scan configuration.
3. After scan is completed, subdomains discovered aren't visible.

* I have confirmed t

[2020-07-25 05:40] yogeshojha commented on #132
Hi All, yes this feature is coming soon. I am working on migrating threads to Celery. Celery will allow you to schedule scans periodically in the future,  retry auto when scan fails, and many more..

I will keep you updated on the progress.

[2020-07-25 05:42] yogeshojha commented on #133
Hi Viren, is this happening only for the domain you mentioned, or happens with every other domain?

[2020-07-25 05:43] yogeshojha commented on #124
Closing this as there are other issues that need attention.

[2020-07-25 05:43] #124 closed

[2020-07-25 07:17] Fawadkhanfk opened #134 "Feature - Your Awesome feature title"
https://github.com/pikpikcu/XRCross/blob/master/XRCross

Check This Out U Will Get Some idea and Scripts

[2020-07-25 07:28] ks6274 opened #135 "Feature Request - Integrating Seclists"
Hello there Yogesh.
Firstly, thanks a ton for creating this awesome tool. loving this tool.
If it will be possible to accommodate a small request  by adding a feature where the tool can include seclists. This will help in directly selecting the pre-defined lists for discovery.

Thanks in advance.

[2020-07-25 10:25] cehbikramrock opened #138 "cmd not worked to create username and pswd"
Dear sir !
i still found same problems.
┌─[✗]─[root@parrot]─[/home/bikram/Downloads/rengine-master]
└──╼ #docker-compose up -d
rengine-master_db_1 is up-to-date
rengine-master_web_1 is up-to-date
┌─[root@parrot]─[/home/bikram/Downloads/rengine-master]
└──╼ #docker ps -a -q
985fdff16b3f
59adf89bd2c3
796fddb6e8d1
3a8573d4a52a
02737056881b
┌─[root@parrot]─[/home/bikram/Downloads/rengine-master]
└──╼

[2020-07-25 10:34] yogeshojha commented on #138
Hi @cehbikramrock

Please read the instructions carefully before creating an issue. We are all working hard to resolve all the issues and bring new features, and it's difficult if you keep on raising the issue without reading the manual.

## From readme.md

[code]

Looking at what you have done, you haven't started the container. Start the container, open the new tab and run the command for superu

[2020-07-25 10:39] #138 closed

[2020-07-25 10:40] yogeshojha commented on #135
I am thinking of something like a marketplace for wordlists. We will work on this.

[2020-07-25 10:41] yogeshojha commented on #134
Thanks @Fawadkhanfk :) It surely will help

[2020-07-25 11:06] #120 closed

[2020-07-25 13:27] MzAgE300 opened #139 "Feature - Your Awesome feature title"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-25 13:27] MzAgE300 opened #140 "Bug - Title of Bug"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue.

### Steps to Reproduce

1. When I am scanning the domains, this happens
2. ...
3. ...

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

* I have confirmed that this issue can be reproduced as described on a latest version/pull of reN

[2020-07-25 13:29] MzAgE300 opened #141 "Bug - Title of Bug"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue.

### Steps to Reproduce

1. When I am scanning the domains, this happens
2. ...
3. ...

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

* I have confirmed that this issue can be reproduced as described on a latest version/pull of reN

[2020-07-25 13:30] #139 closed

[2020-07-25 13:30] #140 closed

[2020-07-25 13:31] yogeshojha commented on #141
Please don't raise irrelevant issues.

[2020-07-25 13:31] #141 closed

[2020-07-25 13:31] MzAgE300 opened #142 "Feature - Your Awesome feature title"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-25 13:31] yogeshojha commented on #142
Please don't spam!

[2020-07-25 13:31] #142 closed

[2020-07-25 13:35] MzAgE300 opened #143 "Feature - Your Awesome feature title"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-25 13:35] MzAgE300 opened #144 "Bug - Title of Bug"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue.

### Steps to Reproduce

1. When I am scanning the domains, this happens
2. ...
3. ...

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

* I have confirmed that this issue can be reproduced as described on a latest version/pull of reN

[2020-07-25 13:35] yogeshojha commented on #143
Why are you spamming?

[2020-07-25 13:35] #143 closed

[2020-07-25 13:35] MzAgE300 opened #145 "Feature - Your Awesome feature title"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-25 13:36] #145 closed

[2020-07-25 13:37] #144 closed

[2020-07-25 13:48] Hacker22o2 opened #146 "Feature - with dirsearch if you can add ffuf"
Can you integrate fuff tool for directory discovery? that would be better and fast option.

[2020-07-25 17:13] Suprita-25 opened #151 "Bug - Missing screenshot"
from a user experience perspective missing screenshots should be not be displayed as when going from left to right in the image won't load.

[2020-07-25 17:25] hubannull commented on #151
I want to work in this. Please assign me.

[2020-07-25 22:08] S3ntago opened #153 "Feature - Mark subdomain for Done/In-progress to track the progress for each subdomain"
Can you please add a mark on each subdomain so we can mark which subdomain was tested and which is not so we can keep track each subdomain progress

I suggest:

1. Done with green highlight color (Test completed)
2. In-progress with orange highlight color (Testing in progress)

Regards,
s3ntago

[2020-07-26 05:49] yogeshojha commented on #106
Hello @JoshuaMart

I have merged the changes. I will close this feature request as of now. For Paramspider, there's another feature request and for better tracking, I will be closing this.

Thank you

[2020-07-26 05:49] #106 closed

[2020-07-26 06:04] Suprita-25 commented on #73
I want to work on this. Please assign it to me.

[2020-07-26 06:25] yogeshojha commented on #153
This is awesome! We will make sure this is implemented!

[2020-07-26 07:37] Fawadkhanfk opened #155 "Url Tracking"
https://github.com/ahussam/url-tracker

Also Add Url-trackeing  or monitoring

[2020-07-26 07:43] 0xShin opened #156 "Feature - Add timeout option for aquatone"
**Is your feature request related to a problem? Please describe.**
I have encountered a problem whereas aquatone was giving request timeout due to the default option which resulted for the empty screenshots tab after scanning the target and this problem also rises when a server has a slow network connection.
https://github.com/yogeshojha/rengine/blob/1e29204160b584c8915e18f3cf190c98a32b1936/startS

[2020-07-26 08:25] Hacker22o2 opened #157 "Deleted scans are running in background"
Hi Team,

Suppose we gave 1st scan for yahoo.com and gave a 2nd scan for example.com, and we deleted the yahoo.com scan, in the background yahoo.com scan is still running. In the screenshot below yahoo.com scan is deleted but its still running

![image](https://user-images.githubusercontent.com/33136022/88474789-9654f800-cf47-11ea-879d-298535c26bd2.png)

[2020-07-26 08:59] S3ntago commented on #157
How can you check the running process in the background as shown in the screenshot for reNgine ?

[2020-07-26 09:31] jhaddix opened #158 "Scan all selected targets?"
Hey All =)

I was just playing around with this awesome framework. Thank you.

I imported a target txt file. I assumed when I selected all the targets on the left I could scan them all but I couldn't find that functionality. Did I miss it?

![2020-07-26_03-26-34](https://user-images.githubusercontent.com/3488554/88475809-78a87400-cef0-11ea-8efe-37d89fc9706f.png)

[2020-07-26 11:37] S3ntago commented on #153
Thanks bro @yogeshojha this will really help in tracking the progress

[2020-07-26 11:48] bugdisclose opened #159 "subdomain/domain hyperlink header in screenshot frame"
![improvement](https://user-images.githubusercontent.com/33686367/88478274-90214480-cf64-11ea-8c1a-91291384dc1c.png)
I've noticed that when we open a screenshot there is no direct hyperlink to visit a particular subdomain/domain. We need to come back and then search for a related subdomain with the screenshot then we can visit.

I would recommend adding a small header above screenshot with a littl

[2020-07-26 12:00] yogeshojha commented on #158
Hi @jhaddix

Currently reNgine uses threads to run the scans in the backgrounds. I am on my way to migrate threads to celery and Redis queue, which will then bring in features like multiple scans, stopping the scans, scheduling scans in future.

I will keep this issue open until I work on it.

Thank you once again for using reNgine.

[2020-07-26 22:48] RapidEU commented on #158
I think RabbitMQ would be a better choice mate!
However, create a branch for it, I'll try to spare some time and contribute when you are starting.

[2020-07-27 06:01] jensecjensec commented on #123
@cehbikramrock How did you fix this bro?

[2020-07-27 06:11] Kennydoneit commented on #123
With you :)

[2020-07-27 06:46] attacker007 opened #160 "For CORS Identification - Use this Tool based on James Kettle Research Work !"
Please add this tool for CORS Identification on multiple targets. I've seen other tools on this vulnerability identification. But i think this is the best one out there:

[code]

[2020-07-27 06:56] attacker007 commented on #102
Hi @thezoomerhacker there are tools like which needs to be integrated.

[code]

[2020-07-27 08:04] saberzaid opened #161 "Feature - Your Awesome feature title"
hello

thanks for this great tool

the only instllation is via duckers? is there away to install it in my kali linux for example without ducker? it take so long to install and alot of space ,

thank you again

[2020-07-27 08:32] zer0yu opened #162 "Feature - Add OneForAll for subdomain find"
Can you integrate [oneforall](https://github.com/shmilylty/OneForAll)  tool for directory discovery? that would be better option.

[2020-07-27 08:49] thezoomerhacker commented on #102
Hi @attacker007 , I think I missed the point of your reply. This thread is requesting github implementation for subdomain enum + endpoint discovery.

[2020-07-27 09:13] saberzaid opened #163 "Bug - httpx task"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
web_1_f73dce40ca96 |
web_1_f73dce40ca96 |     __    __  __       _  __
web_1_f73dce40ca96 |    / /_  / /_/ /_____ | |/ /
web_1_f73dce40ca96 |   / __ \/ __/ __/ __ \|   /
web_1_f73dce40ca96 |  / / / / /_/ /_/ /_/ /   |
web_1_f73dce40ca96 | /_/ /_/\__/\__/ .___/_/|_|
web_1_f73dce40ca96 |              /_/
web_1_f73dce40ca96 |
web_1

[2020-07-27 09:14] saberzaid commented on #110
this will be great to add the above list , i use them too

[2020-07-27 09:15] jenish-sojitra commented on #123
@Kennydoneit Bro, I patched it via specifying different port in docker-compose.yaml file

[2020-07-27 09:15] attacker007 commented on #102
Hi @thezoomerhacker  I've just given information about subdomain enum tools which need to be integrated...

[2020-07-27 10:35] Ahsan-x opened #164 "Installation crash ScanEngine"
### Issue Summary

A summary of the issue.
After Installing Getting this issue scan engine not working for me
![image](https://user-images.githubusercontent.com/46222314/88532918-cde2a380-d01e-11ea-80cc-98fa7078aa4e.png)

* I have confirmed that this issue can be reproduced as described on a latest version/pull of reNgine: (yes / no)
Yes

### Technical details

Please list out any technical detail

[2020-07-27 10:51] virenpawar commented on #133
I think this issue is on this target only.

[2020-07-27 11:33] bugdisclose commented on #164
Remove your old docker image and do a fresh install.

Reference: https://linuxize.com/post/how-to-remove-docker-images-containers-volumes-and-networks/

[2020-07-27 11:35] thezoomerhacker commented on #102
Got it. I think for that you can open a new thread on the issues page and mark it as "feature"

[2020-07-27 21:35] JoshuaMart commented on #157
Hello,
I think this is normal and not expected behavior, simply because removing the stain in the UI does not stop the script.

This may be implemented when Rengine uses Celery or something similar.

Regards

[2020-07-28 04:59] Fawadkhanfk opened #165 "stuck"
![Capture](https://user-images.githubusercontent.com/25926307/88621014-4021ab00-d054-11ea-9150-24a75809e4ab.PNG)

stuck from the past 1 hour  not going further

[2020-07-28 07:41] yogeshojha commented on #157
You are absolutely right @JoshuaMart. I am working on migrating to celery, that is the first priority as of now. Scheduling scans in the future and canceling scans is what are the must features as requested from multiple people.

Hopefully, by this weekend, I will be able to complete this.

[2020-07-28 07:43] yogeshojha commented on #163
Please re run the scan, looks like https could not grab any live URL

[2020-07-28 07:43] #163 closed

[2020-07-28 07:44] #165 closed

[2020-07-28 07:45] yogeshojha commented on #164
removing the volume is enough.

docker volume ls

and docker volume rm rengine_volume_name

[2020-07-28 07:45] #164 closed

[2020-07-28 07:46] yogeshojha commented on #162
The documentation is in Chinese, as far as I can see it's subdomain discovery tool. oneforall has directory scan module as well?

[2020-07-28 07:47] yogeshojha commented on #161
CUrrently there is no way to install other than docker. We do not officially support, but you can play with the django settings, maybe you could make it work. Since there are a lot of shell scripts, recommend you to run on linux

[2020-07-28 07:47] #161 closed

[2020-07-28 07:48] yogeshojha commented on #159
This will be a simple PR, it will be done @bugdisclose

[2020-07-28 07:49] yogeshojha commented on #156
Okay @0xShin I will provide yaml setting for this.

[2020-07-28 12:05] MMrhassel opened #166 "Error in install"
musl-dev     && apk add postgresql-dev chromium git netcat-openbsd     && pip install psycopg2     && apk del build-deps
 ---> Running in 2e7b4de8f730
ERROR: Unable to read database state: No such file or directory
ERROR: Failed to open apk database: No such file or directory
ERROR: Service 'web' failed to build: The command '/bin/sh -c apk update     && apk add --virtual build-deps gcc python3-de

[2020-07-28 12:25] pager5Cx415Cx415Cx69 opened #167 "Feature - Use project discovery subdomain takeover nuclie script"
Use project discovery subdomain takeover nuclie script haccer is not maintaining now collectively maintain nuclie subdomain script.

[2020-07-28 12:32] pager5Cx415Cx415Cx69 commented on #116
Why we need domain name if we are accessing over vps with only ip it is possible?

[2020-07-28 12:36] Ahsan-x commented on #164
Thankyou! resolved know

[2020-07-28 12:56] 0xWise64 opened #168 "Cant delete a list of target"
Hello, Firstly thank you for this awsome reconnaissance framework.

When I import a list of domains (targets) above 1000 domains, the delete button doesn't work with me, but I think it is crashed, I suggest creating a button to select all targets and delete them all at once, and also button for scanning all targets.

Regards

[2020-07-28 13:07] 0xWise64 commented on #168
Also, I noticed that the `Never Scanned Before` target could not be deleted from "List Targets".

Regards

[2020-07-28 15:55] zer0yu commented on #162
it does not has directory scan module, but it's subdomain discovery module is very well.

[2020-07-28 17:45] gopinath6 opened #169 "Windows installation error"
Am trying  to install through sourcecode in windows 10 home edition.Getting below error when trying  to create user

D:\Dropbox\bug\Asus\Web\Tools\OSINT\rengine>python manage.py createsuperuser
Traceback (most recent call last):
  File "D:\Dropbox\bug\Asus\Web\Tools\OSINT\rengine\reNgine\init.py", line 24, in first_run
    secret = open(secret_file, 'w')
FileNotFoundError: [Errno 2] No such file o

[2020-07-29 04:03] attacker007 commented on #167
Hi @pager5Cx415Cx415Cx69 this is already in pipeline as complete nuclei project will be implemented. Please close this as its open in another ticket.

Thanks !!

[2020-07-29 04:11] Hacker22o2 commented on #157
Yes @JoshuaMart, i too thought that only, lets wait for celery update.

[2020-07-29 04:40] tarunn-1 commented on #159
Hi, @yogeshojha I want to work on this. Please assign it to me.

[2020-07-29 07:57] yogeshojha commented on #73
Fixed!

[2020-07-29 07:57] #73 closed

[2020-07-29 08:25] pager5Cx415Cx415Cx69 opened #173 "Feature - Grabbing subdomains also with chaos project discovery"
Grabbing subdomains also with chaos project discovery.
Fetching subdomains using simple python script like chaospy or with wget they mention on their twitter.
Chaos would we better also it does not required heavy resources.
Thanks

[2020-07-29 08:26] #167 closed

[2020-07-29 11:17] alph4byt3 opened #175 "Feature - Dark Theme"
As requested in Twitter, just moving it over to Github for keeping track.

[2020-07-29 11:33] JoshuaMart commented on #169
Hi,
Seems normal, you try to execute the command outside the docker, outside the project is installed with docker

If you try without, not sure we can help you, especially with so little information.

[2020-07-29 11:36] Serizao commented on #166
Hello,

What is your environnement ? Have you try CLI command one by one ? Like :

[code]
If not try it for locate the problem with more precision

[2020-07-29 14:09] GiJ03 opened #176 "Not able to detect the open ports"
For one of the target when I ran "rengine" it detected no open ports, however when I ran Nmap explicitly, it detected open ports.

Additionally, can we use custom Nmap switches in rengine while running the port scans for the targets?

[2020-07-29 18:50] adik69 opened #177 "Bug - Title of Bug"
Hey,
This Happened with me second time this error came up , It was running smooth for 3-4 days suddenly the database password is changed.
I didn't mess with the script . How can it forget its own database password??

![Screenshot_2020-07-30 OperationalError at ](https://user-images.githubusercontent.com/25083418/88840234-c9261700-d1f9-11ea-9be2-70b513cbb2cc.png)

Only reason I think of is maybe th

[2020-07-29 19:41] d1pakda5 commented on #162
You can get the English Version here https://github.com/shmilylty/OneForAll/blob/master/docs/en-us/README.md

[2020-07-29 21:49] omemishra opened #178 "Found XSS Bug On TITLE while scanning (Security Bug)"
Hello Brother,

first of all nice tool and we done,

i was looking into the application  and i find that there is a security issue on your tool,

i mean if a website title is "><img/src=x onmouseover=alert(11)> it will execute ...

Means there is xss..

Take Care

[2020-07-29 21:58] omemishra commented on #178
![Screenshot-20200730032901-1865x987](https://user-images.githubusercontent.com/25466820/88857810-8de51180-d214-11ea-9111-7b72856c6531.png)

[2020-07-30 02:20] Hacker22o2 commented on #177
@adik69 the reason for this error is you have utilised 100% CPU memory, either you need to increase the CPU memory or stop the docker and restart it. giving many parallel scans could lead you this error.

[2020-07-30 03:53] yogeshojha commented on #178
Thank you so much for bringing this to the attention. This will be fixed

[2020-07-30 04:10] omemishra commented on #178
You are welcome brother .....

Tc

[2020-07-30 11:15] abuvanth opened #179 "Feature - use wappalyzer for fingerprint"
cli here - https://www.npmjs.com/package/wappalyzer

[2020-07-30 12:45] Regala opened #180 "Feature - Remote Database"
**Is your feature request related to a problem? Please describe.**
Increased segregation allow us to deploy the application in a more elastic architecture. Supporting a remote database, one could deploy it in the cloud using e.g. AWS which can take care of resizing, backups and other serverless benefits.

**Describe the solution you'd like**
Support local and remote database. Preferable configurin

[2020-07-30 12:48] Regala opened #181 "Feature - API support"
**Is your feature request related to a problem? Please describe.**
Support a simple API which we can use to integrate with other tools.

**Describe the solution you'd like**
e.g. I'd like to programmatically push results of my own to the platform, say a new domain found or the result of a new content discovery. Something like `POST /target/yahoo/ {...}`.

**Additional context**
Ideally we could al

[2020-07-30 12:52] abuvanth opened #182 "Bug - scan failed after import target list"
Error occured after upload target list and start a scan

[code]

[2020-07-30 14:07] P1nkBug opened #183 "Server won't fire up again"
Hello,
so after installing everything was working fine, then I used Ctrl + C to terminate the server, fired it up again after few minutes and then used   sudo lsof -iTCP:8080 -sTCP:LISTEN and kill -ID to terminate it once I was done. Now whenever I use sudo docker-compose up -d to start it again I get:
rengine_db_1 is up-to-date
rengine_web_1 is up-to-date
But localhost:8000 does not load
Any help

[2020-07-30 14:25] yogeshojha commented on #183
Can you try 127.0.0.1:8000?

[2020-07-30 14:26] yogeshojha commented on #182
This happens because httpx fails to work sometimes. Please rescan and it should work.

[2020-07-30 14:26] #182 closed

[2020-07-30 14:27] #177 closed

[2020-07-30 14:28] #176 closed

[2020-07-30 14:29] #166 closed

[2020-07-30 14:33] P1nkBug commented on #183
hi @yogeshojha thanks for the reply!
I tried 127.0.0.1:8000. I managed to temporarily fix the issue by rebooting not when I use docker-compose up -d the server starts normally but after I terminate it with sudo kill PID and try to start it up again I get the same message:
rengine_db_1 is up-to-date
rengine_web_1 is up-to-date
and I'm still unable to access anything at localhost,127.0.0.1 or 127.1

[2020-07-30 14:45] attacker007 opened #184 "Fed Dirsearch/ffuf with Right Directory Bruteforcing File - Making Rengine Intelligent"
Hi @yogeshojha

Common mistake which I've noticed in almost all Recon tools is that they are feeding dirsearch/ffuf with the same directory bruteforce file to each type of subdomain. Currently rengine is using dirsearch which uses its default dict file for bruteforcing.

If httpx or wappalyzer is giving information that subdomain is wordpress. Then that wordpress subdomain should be tested against

[2020-07-30 15:05] P1nkBug commented on #183
@yogeshojha  I fixed the issue by running docker-compose kill to terminate the service instead of kill PID, now everything works fine. Another issue if it's not so much trouble, I must have found the old installation instructions and didn't use Makefile, how do I register a user now that make username does not work? Thank you

[2020-07-30 15:36] GiJ03 commented on #176
I had selected the full scan option. Still it was not able to scan.

[2020-07-30 16:16] #183 closed

[2020-07-30 16:20] Regala opened #185 "Feature - Make default screenshots size bigger"
**Is your feature request related to a problem? Please describe.**
Currently the main view of a scan renders the screenshots as a default size which is quite small.

**Describe the solution you'd like**
It would be nice if we could personalize the size of the screenshot images in that view. e.g. small (like it is right now), medium, large.

Additionally, it would be nice if we could access the rep

[2020-07-30 16:28] Regala opened #186 "Feature - Improve the UI of content discovery results"
**Is your feature request related to a problem? Please describe.**
In the main scan view, where we have the domain, status, screenshot we also have the directories found from content discovery. It just so happens that this view works well when we have a few found paths, but not as good with lots of results. This is often the case when:
- The application responds to 200/3xx to every request
- The a

[2020-07-31 04:52] sappi13 opened #188 "Resource temporarily unavailable exception error"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue.

### Steps to Reproduce

1. When I was scanning the domains, this happens
2. There would be some memory issue. I'm unable to access an application. It is breaking continuously.

* I have confirmed that this issue can be reproduced as described on a latest version/pull of reNgine: (yes / no)

I think it i

[2020-07-31 07:13] JoshuaMart commented on #188
Hi,
How many RAM did you have on your server ?

[2020-07-31 07:20] sappi13 commented on #188
I'm using two.

On Fri, 31 Jul 2020 at 12:44, JoMar <notifications@github.com> wrote:

--
Best Regards
Ranjeet Singh
hackerone.com/sappi
P* Please don't print this e-mail unless you really need to.*

[2020-07-31 07:36] JoshuaMart commented on #188
So it's probably because you're scanning a domain with too many hosts, apart from taking a more powerful server I don't think there's a solution.

[2020-07-31 07:41] sappi13 commented on #188
Any recommendations? I mean what would be the most reliable configuration?

On Fri, 31 Jul 2020 at 13:07, JoMar <notifications@github.com> wrote:

--
Best Regards
Ranjeet Singh
hackerone.com/sappi
P* Please don't print this e-mail unless you really need to.*

[2020-07-31 07:45] JoshuaMart commented on #188
It's hard to say, depending on how many hosts you're scanning ... We need to run some tests. I don't have an order of magnitude.

[2020-07-31 11:57] pager5Cx415Cx415Cx69 commented on #168
Till now is their any ways to delete list of target. Like the scan which are finished stored in rengine/tools/scan_results . But the targets which are on list and has never been scan before where they has been stored by default?

[2020-07-31 12:45] RapidEU commented on #179
I thought of that and I even twitted about it, the thing is, aquatone is already doing fingerprinting and giving us the results.
The problem is aquatone is not upadting therefore their latest app.json (wappalyzer sigs) is almost 2 years old.

Therefore creating our very own fingerprinting is better.

I've linked this around

https://github.com/vincd/wappylyzer/blob/master/wappylyzer.py

[2020-07-31 13:20] iamRjarpan opened #191 "How to update"
Hi, sorry to ask this qusion but I am stuggling to update the tool. I tried everything but getting this error

[code]

[2020-07-31 16:11] ptrk01 opened #192 "Feature - Allow adding tags"
It would be helpful for reconnaissance to have a feature which lets add tags to discovered subdomains which are searchable for later research and exploitation.
For example, if you find a tool instance on a subdomain you can add tags like "xyz tool" and "1.2.4" to easily find it later when a exploit for this tool was discovered.

[2020-07-31 16:13] xlaruen commented on #191
What's the version of your docker-compose? Run `$ docker-compose --version` to find out. If it's lower than 1.25.5, try lowering the version of docker-compose.yml document (very first line) from 3.8 to e.g. 3.7 and see if it works fine, like this:
`version: '3.7'`

I have 1.25.0 installed and I was able to work around that as described above.

[2020-07-31 19:18] chawdamrunal opened #193 "support"
mrunal@mrunal:~/recon/rengine$ make certs
ERROR: Couldn't connect to Docker daemon at http+docker://localhost - is it running?

If it's at a non-standard location, specify the URL with the DOCKER_HOST environment variable.
Makefile:16: recipe for target 'certs' failed

any solution for this ?

[2020-08-01 09:28] Regala commented on #186
In regards to the last paragraph: basically that view could be the existing "endpoints" view but filtered to just that particular domain you've clicked.

[2020-08-01 13:26] #191 closed

[2020-08-01 13:27] iamRjarpan commented on #193
sudo service docker start

[2020-08-01 15:53] yogeshojha commented on #178
Thank you very much for reporting this!

https://github.com/yogeshojha/rengine/blob/master/.github/SECURITY.md

[2020-08-01 15:53] #178 closed

[2020-08-01 15:55] yogeshojha commented on #185
Regala, first of all, thank you so much for sponsoring this project!

This suggestion will be definitely worked upon. Currently, I am super busy with migrating threads based scan to celery, which will then allow you to schedule scan, cancel the scans, and many more. Once that is over, I will surely update this.

Thank you and Stay Healthy.

[2020-08-01 15:59] yogeshojha commented on #186
Thank you so much for the detailed feature request. We will work on this as well. <3

[2020-08-01 16:03] yogeshojha commented on #178
If you find any other instances of XSS, feel free to report them on separate issue.

[2020-08-01 16:19] omemishra commented on #178
Thanks bro ....

Sure will do that....

Tc

[2020-08-01 16:37] iamRjarpan opened #195 "Ports are missing"
I saw naabu found many ports but not in UI

[2020-08-02 01:13] s41n1k opened #196 "ERROR: Version in "./docker-compose.yml" is unsupported."
Hello, I'm being face this problem, while installing.

[code]

[2020-08-02 03:49] ZephrFish opened #197 "postgres password authentication failed"
# Issue Summary

Everytime I run the `make username` command I get the following error:

[code]

make up and make build both worked without error though.
## Env
[code]

[2020-08-02 04:12] iamRjarpan commented on #196
update your docker-compose

[2020-08-02 07:51] s41n1k commented on #196
I'm using
docker-compose version 1.25.0, build unknown

[2020-08-02 08:02] s41n1k commented on #196
thanks, it's fixed after update

[2020-08-02 08:02] #196 closed

[2020-08-02 10:25] Regala commented on #185
Awesome stuff my dude, keep up the good work 🙏

[2020-08-02 13:59] BitThr3at opened #198 "Nginx proxy Keep Restaring"
### Issue Summary

I am trying to set up it via WSL 2 and docker-desktop and followed all the `make` steps but the Nginx proxy container keep restarting in a loop.

#logs
![image](https://user-images.githubusercontent.com/45028933/89124646-400f2880-d4f6-11ea-8880-944b3bee5645.png)

#other container working
![image](https://user-images.githubusercontent.com/45028933/89124674-6a60e600-d4f6-11ea-8552

[2020-08-03 00:53] RapidEU commented on #198
Did u `make certs` ?

[2020-08-03 05:10] x72hoor opened #199 "[localhost] https is being blocked by chrome"
It's also can't forward to site.

Screenshot -

![image](https://user-images.githubusercontent.com/48919542/89147824-b0ab5900-d579-11ea-8b2a-15495b539f2f.png)

[2020-08-03 06:21] BitThr3at commented on #198
Yes i DID with this `.env`
![image](https://user-images.githubusercontent.com/45028933/89151914-97a5a680-d57f-11ea-9f57-3feaa983b2d8.png)

[2020-08-03 07:16] originalishere commented on #197
Same here as well

[2020-08-03 09:18] Regala opened #200 "Feature - Expanding the Target concept"
**Is your feature request related to a problem? Please describe.**
At the moment a "Target" is just a domain (can be a root domain or subdomain). However, most of the times a Target (a big company) has a multitude of root domains (say, Verizon or Yahoo). We should be able to add them all in one Target.

**Describe the solution you'd like**
When creating a new Target, we should be able to add any n

[2020-08-03 14:09] BitThr3at commented on #198
is there any way it to run on simple http?

[2020-08-03 15:46] abdilahrf commented on #195
Hey @iamRjarpan , you need to specify more detail about the bug you encounter so we can identify what is causing the problem.

[2020-08-03 15:53] abdilahrf commented on #192
Agree, rengine still need more flexibility on the searching function but by adding a tags is not giving much flexibility.

I Having an idea to add an advanced query, as a new tab in the sidebar and we can query anything we want to be more easy we can directly use the database query, and that was possible to search anything related to any subdomain and target.

For example you wanted to search a su

[2020-08-03 15:55] abdilahrf commented on #193
You can install by refering into this blog https://www.jomar.fr/posts/2020/07/en-install-rengine-with-nginx-and-ssl-auto-renew/

[2020-08-03 15:58] abdilahrf commented on #162
IMHO, the tools is using so many all other tools together and it will making the project harder to mantain for the long term
how about we choose only which sources that we need to add, its more efficient

[2020-08-03 16:04] abdilahrf commented on #162
adding for subdomain discovery is quite good i think, but not for directory discovery.

[2020-08-03 16:05] abdilahrf commented on #155
the tools was good, but i dont think that need to merge on this program.

[2020-08-03 16:07] #193 closed

[2020-08-03 16:14] abdilahrf commented on #179
this was a better option https://github.com/rverton/webanalyze a port of wappalyzer in golang

[2020-08-03 22:18] fadyosman commented on #197
Same here :(

[2020-08-04 11:03] dinosn opened #201 "SSL files not present"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

By executing a git pull to get the last update the docker is not starting after build with an error on the nginx certs.

### Steps to Reproduce

Simply git clone the latest release, issue docker-compose build and after that docker-compose up.

The certs are not present and either should be generated manually or config should on

[2020-08-04 11:22] alph4byt3 commented on #201
You need to create the certs with `make certs`

[2020-08-04 11:41] dinosn commented on #201
Many thanks, it's something that can be added also to be done directly.

[2020-08-04 11:41] #201 closed

[2020-08-04 14:27] iamRjarpan opened #202 "Compare two scan of same target"
Is it possible to compare 2 scan of same target? So we can understand  which subdomain or endpoint is new there. It will be aswome if it possible

[2020-08-04 14:28] #195 closed

[2020-08-05 07:42] aoprea1982 commented on #126
Thank you for the great application.

Also this script is interesting

[https://github.com/gwen001/pentest-tools/blob/master/smuggler.py](url)

[2020-08-05 07:45] aoprea1982 commented on #160
Thank you for the nice application!

this tool is newer and interesting
[https://github.com/s0md3v/Corsy](url)

[2020-08-05 08:27] aoprea1982 commented on #110
Use also
for listing the application parameters

[https://github.com/tomnomnom/unfurl](url)

[code]

[2020-08-05 08:52] aoprea1982 commented on #109
Can masscan be an option?

[https://github.com/robertdavidgraham/masscan](url)

[2020-08-05 09:19] aoprea1982 opened #203 "Feature: extract all the queryStrings,parameters from the endpoints"
**Describe the solution you'd like**
To be able to get a list of the parameters in the endpoints

Example:
https://github.com/tomnomnom/unfurl

Query String Key/Value Pairs

 cat urls.txt | unfurl keypairs
id=123
name=Sam
org=ExCo

Thank you!

Tsubasa

[2020-08-05 13:42] alph4byt3 opened #204 "Checkbox next to subdomain in scan report list"
**UI Feature - Checkbox next to subdomain in scan report list**

If possible, please add a checkbox next to each subdomain in the scan report list, this allows us to mark all subdomains that we've already completed our hunting on to better keep track of where we're at.

[2020-08-06 06:53] virenpawar opened #205 "[Feature] - Instead of building image, you can push the image in dockerhub"
**Is your feature request related to a problem? Please describe.**
Instead of building image each time, you can push docker image to dockerhub and for usage just pull the image.

**Describe the solution you'd like**
Just push the working image to dockerhub and change the build to just download image from dockerhub.

**Describe alternatives you've considered**
This is alternative to `docker-compose

[2020-08-06 07:31] virenpawar commented on #205
Sorry, was referring old docs. Found `make pull`

[2020-08-06 07:31] #205 closed

[2020-08-06 09:39] aoprea1982 opened #206 "Crawler not following 307 redirects"
HTTP Crawler not crawling the 307 redirected URL .

The domain result:  statusCode  is "307"
"Recent Activities" shows HTTP Crawler completed  but no endpoints are discovered in "Endpoints"

 Is this expected?

Can the redirect be followed
to retrieve the endpoints?

Thank you!

[2020-08-06 16:12] vinnyvinoth commented on #197
**Fix for this issue:**

[code]

![FIX](https://user-images.githubusercontent.com/16441491/89555309-8386d100-d82d-11ea-9b79-e44bd2161297.jpeg)

[2020-08-07 07:06] BitThr3at commented on #198
hey can anybody help?

[2020-08-07 19:52] 007divyachawla opened #207 "make build command giving this error."
Version in "./docker-compose.yml" is unsupported. You might be seeing this error because you're using the wrong Compose file version. Either specify a supported version (e.g "2.2" or "3.3") and place your service definitions under the `services` key, or omit the `version` key and place your service definitions at the root of the file to use version 1.
For more on the Compose file format versions,

[2020-08-07 21:15] uBadRequest opened #208 "Column Doesn't Exisit - scanEngine_enginetype.yaml_configuration"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Followed upgrade instructions, I get a 500 error when trying to launch a scan or view the scan engines.

[code]

### Steps to Reproduce

Honestly have no idea why its sticking .yaml to the engine of the column name.

The only thing I have to change is the port that the container exposes to the host for the web.

Any other relev

[2020-08-07 21:17] uBadRequest commented on #208
Whats this appending fetch_url for scanEngine_enginetype for?
[code]

[2020-08-07 22:26] uBadRequest commented on #208
Is there any assumptions that the web ports aren't going to be changed?

[2020-08-07 23:15] uBadRequest commented on #208
Had to manually add the yaml_configuration column .. don't know why the migration wasn't making the change for me.
![image](https://user-images.githubusercontent.com/47282747/89695499-3153b780-d8e2-11ea-8c0d-f61cd3605d21.png)

[2020-08-07 23:15] #208 closed

[2020-08-08 02:25] uBadRequest commented on #146
Integrating ffuf and using the -ac flag will help reduce all those 'false positive' directories/files you get with dirsearch. @yogeshojha

[2020-08-08 15:44] JoshuaMart commented on #207
Hi,
Try to change the version of the dockerfile for 2.2 or update docker-compose.

You can delete it & reinstall it with :
[code]

[2020-08-08 17:58] #198 closed

[2020-08-09 19:36] Kennydoneit opened #209 "Bug - Title of Bug lost password"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue.

### Steps to Reproduce

1. When I am scanning the domains, this happens
2. ...
3. ...

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

* I have confirmed that this issue can be reproduced as described on a latest version/pull of reN

[2020-08-10 07:38] vncloudsco opened #210 "Bug Report"
### Issue Summary

The installer has failed due to the wrong device Version

error code!
[code]

### Technical details

replace version version: '3.8' to version: '3.3'

[2020-08-10 10:20] Narendra-Modi opened #211 "How to access Postgres using PgAdmin?"
Hi @yogeshojha ,

Nice work! Can you please tell me how i can access Postgres DB from my PgAdmin local setup? I tried entering host (My EC2 Public IP) and used username, password and db as postgres, postgres, postgres respectively.

I was getting connection refused error everytime, i also enabled port 5432 from my firewalls. Can you please tell me why it is different or hard to access postgres her

[2020-08-10 16:21] JoshuaMart commented on #211
Hi,
However, if you still want to expose your base, you need to modify the docker compose and add the directive for the `db' container:
[code]

Don't forget that anyone will be able to access it from outside with the default credentials.

[2020-08-10 16:21] JoshuaMart commented on #210
Same as #207

[2020-08-10 16:22] JoshuaMart commented on #209
Hey, guys,
Run the `make username' command again.

[2020-08-11 20:18] Narendra-Modi opened #212 "Support for Resumable Scan in case of server Crash or Restart"
Rengine gets stuck at "scanning" status and it never changes whenever server gets crashed or restart during scans. It would be good if someone provides a solution or workaround to get this done. It would be helpful in case we are scanning a large org.

[2020-08-12 10:59] #209 closed

[2020-08-12 10:59] #211 closed

[2020-08-12 10:59] #207 closed

[2020-08-12 11:00] #210 closed

[2020-08-12 12:15] alph4byt3 commented on #162
Tried this tool out, it works great. I second adding it to rengine, it would help a lot with whatever the four already existing tools(subfinder, amass etc) can't find

[2020-08-13 00:02] Darth-Ginger opened #213 "Out of Scope options"
There are times when you don't want to scan certain domains/subdomains as they are specified Out of Scope. It would be nice to have the option to add this.

In designating a new target, offer an option for a list of domains/subdomains to be skipped. Regex here would be nice but not necessary.

[2020-08-13 18:38] ptrk01 opened #214 "Feature - Global Search over all Scans"
I would be great to have a global search option which searches all scans you have done so far. When you have a few scans it is no problem to search them individually for particular server instances for example, but if you have many, things are going to be difficult to identify.

[2020-08-14 04:01] sukant-kar opened #215 "Any better way of implementing SSL instead of current one? How about LetsEncrypt?"
Hi there,

I installed and used Rengine multiple times but everytime one problem was common, i can't access it on my chrome it shows SSL error and there is no option to "Accept it from advance" however it was working with firefox after clicking on "Accept Risk & Continue"

I was using Rengine on a IP few days back and 2 days back i terminated that instance and created new fresh instance.

After ac

[2020-08-14 05:55] tushRana opened #216 "Could not resolve host: github.com"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

While doing make build, it gets stuck on the steps where the tools are installed from github using 'go get'. Throws an error that github.com could not be resolved. Please see screenshot attached.

<img width="680" alt="Capture" src="https://user-images.githubusercontent.com/25536846/90218069-89c61000-de20-11ea-9ab9-8c8e175a5172

[2020-08-14 14:15] sayaanalam commented on #182
still not working on targets imported from list , if we add those targets manually then it works

[2020-08-16 02:52] attacker007 commented on #216
Hi @tushRana it only can happen due to slow internet. Try to not use internet for other commands or devices. before running do this  "export GO111MODULE=on"

[2020-08-16 18:20] hiddengearz commented on #200
This is one of the main reasons I don't use rengine very often tbh, It becomes very tedious to deal with ~50 domains manually. Great project otherwsise.

[2020-08-16 20:16] tushRana commented on #216
Hi @attacker007 , I was able to solve it. There was a network connection issue for the docker daemon, had to reconfigure the DNS. Installed the tool and working perfectly. Amazing tool btw great work

[2020-08-16 20:16] #216 closed

[2020-08-16 20:31] Vikas92155 commented on #216
Hey i was also having similar kind of issue can we discuss it over private chat or mail . Or on slack.
https://twitter.com/_vikas_gupta_

[2020-08-16 20:47] tushRana commented on #216
Hi @Vikas92155 , let me post my solution here might help others as well:

Configured the DNS settings of Docker in file /etc/default/docker and added address to Google servers and restart docker service-
DOCKER_OPTS="--dns 8.8.8.8 --dns 8.8.4.4 --dns 192.168.1.1"

Refer this thread-
https://stackoverflow.com/questions/24151129/network-calls-fail-during-image-build-on-corporate-network

[2020-08-17 04:31] Narendra-Modi opened #217 "Command to remove all captured screenshot and logs located on volume / disk?"
Hi, it would be good if there is any make command to remove all temp files / screenshots captured by internal tools and other raw files, which is filling out disk size.
![Screenshot 2020-08-17 at 9 58 13 AM](https://user-images.githubusercontent.com/69027716/90357401-79a46f80-e070-11ea-9bc9-78b184a53c9c.png)
My server isn't working because of full disk space, can you please tell me what is the loc

[2020-08-17 05:08] Narendra-Modi commented on #211
@JoshuaMart ,

Still not accessible
![Screenshot 2020-08-17 at 10 36 23 AM](https://user-images.githubusercontent.com/69027716/90359107-9b542580-e075-11ea-8961-ad4ded5e8a32.png)
![Screenshot 2020-08-17 at 10 37 42 AM](https://user-images.githubusercontent.com/69027716/90359146-b1fa7c80-e075-11ea-886a-af0226d01485.png)

Getting this error in PgAdmin

Unable to connect to server:

could not connect

[2020-08-17 07:27] Narendra-Modi commented on #211
Now, this is working as expected, i'd to add these ports before running ``make build`` and i was doing it after making it

[2020-08-17 11:10] jaykumarjp opened #218 "Feature - Show server IP also in a column just before open port"
**Is your feature request related to a problem? Please describe.**
No, new feature request

**Describe the solution you'd like**
Fetch IP from used tools for port scanner.

**Describe alternatives you've considered**
No.

[2020-08-18 07:30] memetics19 opened #219 "Feature - Heroku integration"
deploy to heroku button

[2020-08-18 07:30] memetics19 commented on #219
#172

[2020-08-19 23:26] uBadRequest opened #220 "Feature - IP Addresses & Masscan"
**Is your feature request related to a problem? Please describe.**
Wanting to have a list of the IP addresses that all the subdomains resolved to.

**Describe the solution you'd like**
Maybe, another tab that displays the subdomains and what IP address they resolved and an option to download just the IP addresses. It would be really cool if you also implement running masscan on them all.

[2020-08-20 14:28] b0tzone opened #221 "Bug - Unable to build on DigitalOcean"
Hi Team,

I was trying to build the docker image with "make build" command on DigitalOcean's machine (Ubuntu 18.04) , but facing out of memory issue.

Please refer the below screenshots,

![image](https://user-images.githubusercontent.com/39560492/90784359-ce6d1200-e31e-11ea-8b26-0d5204e96b5b.png)

![image](https://user-images.githubusercontent.com/39560492/90784469-ed6ba400-e31e-11ea-9d24-92fe363

[2020-08-20 22:28] goodrookie commented on #221
I had the same problem and I upgraded to 2GB, and there it's working!

[2020-08-21 00:43] goodrookie opened #222 "[IP]/start_scan/export/endpoints/2 --->> 502 Bad Gateway"
### Issue Summary
ss
When I want to export endpoints from the dedicated green button, it gives 502 error.
Subs and URL exports work perfectly.

OS: Ubuntu 18
VPS: Digital Ocean, plenty free disk space, I've alredy gone to 8vCPUs and 8GB RAM.

Diagnostics:
gunicorn process go nuts when exporting several thousands of endpoint TXT (see attached). I have 2 examples from a couple of big domains:
1) +/-

[2020-08-21 06:18] alph4byt3 opened #223 "Another awesome source for recon"
Found this newly released python library that will definitely step up reNgine. Check it out

https://github.com/serain/bbrecon

[2020-08-21 07:37] b0tzone commented on #221
Thank You! @goodrookie

After upgrade to 2GP machine, it's working fine. Thanks again 👍

[2020-08-21 07:37] #221 closed

[2020-08-25 09:31] icezhaoL opened #224 "when make pull ERROR: for web error pulling image configuration: denied: Encountered a billing-related error. Please verify the billing status for this account."
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue.
ERROR: for web  error pulling image configuration: denied: Encountered a billing-related error. Please verify the billing status for this account.

### Steps to Reproduce

1. When I am scanning the domains, this happens
2. ...
3. ...

Any other relevant information. For example, why do you consider this

[2020-08-26 04:35] yogeshojha commented on #224
Payment method updated

[2020-08-26 04:35] #224 closed

[2020-08-26 08:05] icezhaoL opened #225 "when make up go wrong?"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue.
ERROR: for ee966e462d54_rengine_web_1  Cannot start service web: OCI runtime create failed: container_linux.go:348: starting container process caused "exec: \"/app/docker-entrypoint.sh\": permission denied": unknown

ERROR: for web  Cannot start service web: OCI runtime create failed: container_linux.go:

[2020-08-26 08:07] icezhaoL opened #226 "Bug - Title of Bug"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue.
ERROR: for ee966e462d54_rengine_web_1  Cannot start service web: OCI runtime create failed: container_linux.go:348: starting container process caused "exec: \"/app/docker-entrypoint.sh\": permission denied": unknown

ERROR: for web  Cannot start service web: OCI runtime create failed: container_linux.go:

[2020-08-28 07:47] fre3vil opened #227 "ERROR: for proxy Cannot create container for service proxy with rengine_chain.pem"
### Issue Summary

The error show as below
ERROR: for proxy  Cannot create container for service proxy: invalid mount config for type "bind": bind source path does not exist: /root/git/rengine/secrets/certs/rengine_chain.pem

### Steps to Reproduce

1. when I use docker-compose up -d, it can't create rengine_proxy_1 instance.
2. How can I to solve this problem, it can't generate rengine_chain.pem

[2020-08-28 08:00] #227 closed

[2020-08-28 08:00] fre3vil commented on #227
I had forget to use make certs generate certs

[2020-09-03 02:27] jalax0990 commented on #182
Same issue here, if i import the targets from a .txt dont work and say Failed, but if i add targets manually works.

[2020-09-07 09:52] random-robbie opened #228 "Failed to Scan"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

add twitter and do a passive scan.

### Steps to Reproduce

[code]

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

* I have confirmed that this issue can be reproduced as described on a latest version/pull of reNgine: (yes )

[2020-09-07 10:07] random-robbie commented on #228
Bug appears to happen when the domain has been imported via text file.

[2020-09-09 22:11] tomsec opened #230 "Unable to locate the wordlist file"
I have edited the amass-config.ini file to include a custom wordlist under the subdomain brute-forcing section. However, upon running the scan and checking the logs I found that the tool isn't able to recognize the wordlist when it is already present in the same path.

"Failed to load the configuration file: Unable to load the file in the brute-force wordlist_file setting: /usr/share/wordlists/wor

[2020-09-14 00:46] kntbyrn opened #232 "Error on building psycopg2"
### Issue Summary
When building up using `make build` there's an error indicating that ` ERROR: Failed building wheel for psycopg2`

### Steps to Reproduce
1.  `Make build`

![yogo](https://user-images.githubusercontent.com/53249968/93032931-a09d9380-f666-11ea-9bc0-8a1ef1e5121c.png)
![yogosha](https://user-images.githubusercontent.com/53249968/93032933-a2675700-f666-11ea-8ac6-af220f2c629e.png)

##

[2020-09-14 17:18] xyele commented on #232
Same

[2020-09-14 18:25] markey71 commented on #232
I have the same problem also

[2020-09-15 08:35] d3c4yYT commented on #232
Same issue here. with Ubuntu 18.04 and 20.04 docker compose 1.27.2 and docker 18.3 and 19.0.3

The build always fails at the same stage as OP mentioned

[2020-09-15 15:12] matandobr commented on #232
Same... Ubuntu 16.04

[2020-09-16 00:48] hahanov commented on #232
I have the same problem also. Kali Linux
docker-compose version 1.27.2, build unknown
docker-py version: 4.3.1
CPython version: 3.8.5
OpenSSL version: OpenSSL 1.1.1g  21 Apr 2020

[2020-09-16 12:05] hahanov commented on #232
Also.
`docker-compose version 1.27.2, build 18f557f9`
`Docker version 19.03.12, build 48a66213fe`
<details>
[code]
<details>

[2020-09-16 20:22] ra881t commented on #232
Same. Ubuntu 16.04, Ubuntu 20.04

[2020-09-17 11:37] ptrk01 commented on #228
@random-robbie I faced the same problem. When importing domains via txt file then all domain scan are failing. If I add the domains manually (domain by domain) the scan works.

[2020-09-17 16:53] cvieiraeduardo commented on #232
Same, Amazon Linux

[2020-09-18 02:13] jona5pok commented on #232
same .. :(

[2020-09-18 13:23] haxormad commented on #232
Looks like all the Ubuntu users are having same problem including me.

[2020-09-18 17:49] brunohardhouse commented on #232
Hi, I solved this issue just adding build-base in line 15 of Dockerfile

&& apk add postgresql-dev chromium git netcat-openbsd build-base \

build-base is a meta-package for install and ussing GCC

[2020-09-18 18:19] matandobr commented on #232
@brunohardhouse
Perfect!
Worked as a charm

[2020-09-18 19:23] ph4z commented on #232
As psycopg2 is already installed with APK you can remove the psycopg2 line into requirements.txt and it will work.

[2020-09-25 15:06] #188 closed

[2020-09-27 14:23] bilalmerokhel opened #235 "Broken Link Fix"
### Broken Links

I have installed the rengine on ubuntu and Debian multiple times but it seems some links to the tools are broken in Go please fix them.

[code]

[2020-09-28 07:19] hahanov commented on #235
I have the same problem also.

[2020-09-28 13:45] tomsec commented on #235
I am also facing the same issue.

[2020-09-28 18:06] yogeshojha commented on #232
Fix with PR #234

[2020-09-28 18:06] #232 closed

[2020-09-28 22:10] brunohardhouse commented on #232
@yogeshojha you're welcome!

[2020-09-29 04:38] yogeshojha commented on #235
Thanks for bringing this to our attention. There was a problem with naabu which required go v1.14+, we were using v1.13 which has now been upgraded.

[2020-09-29 04:38] #235 closed

[2020-09-29 04:47] yogeshojha commented on #228
Oops this was a problem when imported targets had trailing "\n".

This has been fixed now

[2020-09-29 04:47] #228 closed

[2020-09-29 04:48] yogeshojha commented on #228
Thanks @random-robbie for reporting this!

[2020-09-29 04:48] #226 closed

[2020-09-29 04:49] #225 closed

[2020-09-29 04:51] yogeshojha commented on #199
You have to regenerate the certificate. AFAIK you had another instance of rengine already and did reinstallation. In that case please change dotenv file, Authority Name, Domain, and company.

[2020-09-29 04:51] #199 closed

[2020-09-29 13:53] bilalmerokhel commented on #219
When will be this feature available?

[2020-10-01 14:35] #197 closed

[2020-10-04 15:38] #66 closed

[2020-10-04 15:38] #80 closed

[2020-10-04 15:45] #99 closed

[2020-10-04 15:48] #109 closed

[2020-10-04 15:49] #112 closed

[2020-10-04 15:51] yogeshojha commented on #113
Amass has been added in the last update.

[2020-10-04 15:52] #114 closed

[2020-10-04 15:53] yogeshojha commented on #114
In the latest update, you should be able to turn off the debug mode

[2020-10-04 15:53] #116 closed

[2020-10-04 15:54] #131 closed

[2020-10-04 15:54] #133 closed

[2020-10-04 16:30] #169 closed

[2020-10-05 16:19] Gp9633 commented on #227
how to fix this i got similar error

[2020-10-05 16:54] Gp9633 opened #238 "ERROR: Encountered errors while bringing up the project."
when i was setting up , it crashed like the below what to do now?

Successfully built 4b9ac47907f8
Successfully tagged docker.pkg.github.com/yogeshojha/rengine/rengine:latest
rengine_db_1 is up-to-date
rengine_web_1 is up-to-date
Creating rengine_proxy_1 ... error
ERROR: for rengine_proxy_1  Cannot create container for service proxy: invalid mount config for type "bind": bind source path does not

[2020-10-08 13:56] #159 closed

[2020-10-08 13:57] yogeshojha commented on #218
Fixed in V0.4. 🎉

[2020-10-08 13:57] #218 closed

[2020-10-08 13:58] yogeshojha commented on #159
Fixed in V0.4. 🎉

[2020-10-08 13:58] yogeshojha commented on #158
Hi @jhaddix This is Fixed in V0.4. 🎉 Please check 🎉

[2020-10-08 13:58] #158 closed

[2020-10-08 13:59] yogeshojha commented on #95
Yay, this is available V0.4. 🎉

[2020-10-08 13:59] #95 closed

[2020-10-08 14:00] yogeshojha commented on #220
Yay, this is available V0.4. 🎉

IP Address and CNAME is being displayed in a separate column. Please check the lastest version

[2020-10-08 14:00] #220 closed

[2020-10-08 14:01] yogeshojha commented on #212
Yay, this is available V0.4. 🎉

[2020-10-08 14:01] #212 closed

[2020-10-08 14:01] yogeshojha commented on #168
Yay, this is available V0.4. 🎉 Please update the reNgine :)

[2020-10-08 14:01] #168 closed

[2020-10-08 14:02] yogeshojha commented on #157
Thanks for your patience. 😄

This is finally released. Please check version 0.4 🥳 A lot of new features have been added as well. Give it a try

[2020-10-08 14:16] #113 closed

[2020-10-08 14:31] jaykumarjp opened #241 "Bug - More than one ip, and not alligned"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

New feature added in v4 which show ip addresses but more than one ip also not alligned.

### Steps to Reproduce

1. scan a bigscope target and look in result, see ip address column

* I have confirmed that this issue can be reproduced as described on a latest version/pull of reNgine: (yes / no)

![image](https://user-images.git

[2020-10-08 14:35] yogeshojha commented on #241
I guess this happens with the older scans, can you please run a new scan and confirm if this happens?

Earlier we were capturing as many IP as we could from aquatone, now we are using data provided by HTTPX and have a single IP. Could you please confirm?

[2020-10-08 17:19] jaykumarjp commented on #241
Yes you right sir.. these were in old scan not happening with new one

[2020-10-08 17:19] #241 closed

[2020-10-11 16:54] Slingx opened #242 "Service 'web' failed to build"
Step 13/24 : RUN GO111MODULE=on go get -u -v github.com/projectdiscovery/httpx/cmd/httpx     github.com/projectdiscovery/naabu/cmd/naabu     github.com/projectdiscovery/subfinder/cmd/subfinder     github.com/lc/gau
 ---> Running in ddf41f63849d
go: finding github.com/lc/gau v1.0.5
go: finding github.com/projectdiscovery/subfinder v2.4.5+incompatible
go: finding github.com/projectdiscovery/httpx v1

[2020-10-11 16:55] Slingx commented on #242
I get this when i try to use "make build"

[2020-10-12 15:43] jaykumarjp commented on #242
same i recieved when installing in kali linux

[2020-10-13 14:55] VaibhavNagariya opened #243 "Unable to delete or turnoff Scheduled Scans"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

On "https://x.x.x.x/start_scan/scheduled/" page, scheduled scans can't be deleted or turned off.

### Steps to Reproduce

1. Setup a scheduled scan.
2. Go to "https://x.x.x.x/start_scan/scheduled/" page
3. Try to delete or turn off any scheduled scan.

Any other relevant information. For example, why do you consider this a bug

[2020-10-16 09:27] miaochiahao opened #244 "Feature - separated page for directory scanning"
Mixing directory scanning results in subdomain page may not be the best idea, directory results breaks the table. If rengine creates another page for directory listing, the whole dashboard will be more clear.

[2020-10-19 19:45] adik69 opened #245 "Scan Goes on Loop"
###Summary
I see you have upgraded the rengine with more new features. But this issue wasn't there before.

After the scan is being completed It restarts the scan again . It goes on loop.
And I'm really unsure what is causing this.

* I have confirmed that this issue can be reproduced as described on a latest version/pull of reNgine: yes

![Screenshot_2020-10-19 Scan history](https://user-images.g

[2020-10-19 23:21] ad0nis commented on #200
It would be great if the concept of targets were expanded even further to include IP addresses and subnets so that basic port scans, directory mapping, and screenshots could be run over an IP scope instead of only a domain name.

[2020-10-19 23:33] ad0nis opened #246 "Bug - Passive scan makes active connections to identified domains."
### Issue Summary

When performing a "passive scan" of a domain, I noticed that it had actually requested every path that it had identified on a webserver, and even hit rate-limiting. Clearly not "passive" behavior.

### Steps to Reproduce

1. Create a new passive scan
2. Scan a domain
3. Observe "Endpoints" section.

Passive implies that no connections are made to identified sites, and should be

[2020-10-20 00:20] GabrielMioranza opened #247 "Bug - Scan failed"
### Issue Summary

I got a scan failed on every task

![image](https://user-images.githubusercontent.com/7417152/96525203-c236ff80-1250-11eb-918f-ad2b1deeb8cd.png)

### Steps to Reproduce

1. When I am scanning the domains, this happens

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

* I have confirmed that this issue can be

[2020-10-20 06:07] overclockedmachine opened #248 "i cant switch to page 2"
Found a bug? Please fill out the sections below. 👍
cant switch from page 1 to page 2

### Issue Summary

A summary of the issue.
no problem with old one  yesterday i upgrade my vps then i installed engine now i stuck in page 1 of every report

### Steps to Reproduce

1. after scanning report
2. .click page 2 it doesn't show second page..
3.
Any other relevant information. For example, why do you c

[2020-10-20 11:33] miaochiahao opened #249 "Feature - scan all web service in a single host"
I have to say, awesome work!
It seems that rengine will not perform path discovery on different ports of a single host. For example, port 80 and port 8888 opened on a host, rengine will only perform path discovery on 80, and 8888 will be left.

[2020-10-20 11:34] miaochiahao opened #250 "Feature - integrate ffuf in rengine"
ffuf is amazingly fast when scanning web path. can you integrate this tool in regine?

[2020-10-20 14:54] ad0nis opened #251 "Very Inefficient Port Scan Process"
### Issue Summary

When scanning a bug-bounty domain where there are many subdomains that resolve back to a much smaller number of hosts, the port scan appeared to run on forever. I assume that it's port scanning every hostname instead of resolving them, identifying that they're mostly the same IP, and then scanning that single IP once and applying that port scan result to all of the hosts.

### S

[2020-10-20 14:57] ad0nis opened #252 "Error Logs & Resume Scan button"
**Is your feature request related to a problem? Please describe.**
Ran a scan of a bugbounty domain, and it just shows "failed". Some hosts appear to have been scanned, but no reason identified in the UI for the failure. No way to resume a failed scan where it gave up.

**Describe the solution you'd like**
Would be great to have a logging tab that shows what's going on in the server's back-end, an

[2020-10-20 15:01] ad0nis commented on #251
Additionally, it would be great if the port scans were run as separate celery tasks for each IP being scanned so that results could land in the UI more quickly, and then subsequent scans could also be queued for the specific hostnames that depended on that IP being scanned while other port scans are still being run in the background.

[2020-10-26 19:08] E-R-R-O-R-404 opened #253 "Bug - Title of Bug"
Found a bug? Please fill out the sections below. 👍
remove number of limit
### Issue Summary
some times the targets are not scanning even only 2 scans are running so please remove the no of limits in scan or create a button for setting number of scans
A summary of the issue.

### Steps to Reproduce

1. When I am scanning the domains, this happens
2. ...
3. ...

Any other relevant information. For e

[2020-10-28 07:00] 0xklaue opened #254 "Feature - Aquatone-Discover integration"
I see a lot of tools integrated with rengine. Hoping you can work around aquatone-discover to be integrated with rengine. A little outdated tool, but still very efficient imho. :slightly_smiling_face:
Keep up the good work mate. Cheers!

[2020-11-06 02:37] uBadRequest opened #255 "Feature - Specific Alerts"
**Is your feature request related to a problem? Please describe.**
The ability to select specific targets and a category that you want alerts generated for.

**Describe the solution you'd like**
I have many targets, but I only want to send alerts from targets x,y,z when a new port has been discovered to a specific webhook.

**Additional context**
A new weekly scan is triggered for target x,y,z.
Po

[2020-11-06 02:57] uBadRequest opened #256 "Feature - Search on columns"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I want to search for a port number but matches other fields.

**Describe the solution you'd like**
Ability to search in specific columns.

Example:
Search for port 8443 where 'page title' contains 'error'

[2020-11-08 16:29] Jacoppy commented on #242
I am using kali 2020.3 and after many tries it worked out, I had to recreate the certificates and then the build worked

[2020-11-09 11:23] hackingguy opened #258 "Stuck On Dirsearch"
### Issue Summary
From previous three days on a simple website it get stuck on get_dirs.sh, I tried to abort the scans and restart them, but every effort nonetheless. I just
I am also not able to import txt or csv file, getting error invalid file format, is there any issue related to "\r\n" and "\n" ?

### Steps to Reproduce

N/A

Any other relevant information. For example, why do you consider th

[2020-11-09 14:48] Anugrahsr opened #259 "Feature - Add option for subfinder config file"
Just like amass, without proper configuration files subfinder also is not effective.
I request a feature in rengine to take a config file and use it for subfinder.
default location: $HOME/.config/subfinder/config.yaml
More deatils about config file in subfinder config files can be found here
https://github.com/projectdiscovery/subfinder#running-in-a-docker-container

[2020-11-09 22:38] ptrk01 commented on #245
I faced this problem as well. It scanned the same target again and again. This problem arises from time to time and happens since scheduled scans were implemented.

[2020-11-10 02:06] r3dC4prica commented on #213
I also came here to request this feature!

[2020-11-10 15:06] ocmcc commented on #247
met the same problem on ubuntu20.04, have u solved it?

[2020-11-11 11:15] meridian0x01 opened #260 "Feature - Add Option to Import IP's As Targets"
Just like importing domains as targets, it would be great to also import ip's as a .txt file!
It could be useful especially when doing internal network recon!

[2020-11-12 11:22] ux-8 opened #261 "Feature - Your Awesome feature title"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-11-12 11:27] ux-8 commented on #261
@#261

[2020-11-12 12:09] #261 closed

[2020-11-19 18:32] noobyogi0010 commented on #256
Hi!
I would love to work on this issue to add search on columns. Can you tell me what files I've to work on for this or how to get started?
Thanks!!

[2020-11-20 07:19] yogeshojha commented on #256
Hi @noobyogi0010, you should look for datatables filter documentation and inside templates directory, look for the datatables implementation.

Maybe if you can implement, do something like port:1234, contentlength: > 100

Feel free to Ask me if you need any help.

[2020-11-20 11:40] yogeshojha commented on #247
can you please attach the logs?

cd rengine
make logs

[2020-11-20 21:23] ptrk01 opened #265 "How to exclude 403 from dirsearch?"
Does anyone know how to exclude 403 findings from dirsearch? I often get thousands of them listed in the results.

Found this in /rengine/tools/default_settings.yaml:

[code]

But not sure how to add the exclusion. Any idea?

[2020-11-23 11:20] ocmcc commented on #247
I use the "oppo.com" as target, scan type is full scan, ubuntu 20.04 virtual machine.    The logs:

COMPOSE_DOCKER_CLI_BUILD=1 docker-compose -f docker-compose.yml logs --follow --tail=1000 db web proxy redis celery celery-beat
Attaching to rengine_proxy_1, rengine_celery_1, rengine_web_1, rengine_celery-beat_1, rengine_db_1, rengine_redis_1
celery-beat_1  | Waiting for postgres...
celery-beat_1

[2020-11-23 17:55] noobyogi0010 commented on #256
Hi @yogeshojha !
Thanks for the help, I'll try my best to implement this feature by the end of this week.
Thank you!

[2020-11-24 18:28] yogeshojha commented on #185
This has been implemented, waiting to be merged in the newer major release!

![Screenshot 2020-11-24 at 11 57 53 PM](https://user-images.githubusercontent.com/17223002/100136294-e077c700-2eb0-11eb-8441-a8950ae8d9ab.png)

[2020-11-24 18:32] yogeshojha commented on #151
Implemented, waiting to be merged!

[2020-11-25 04:14] yogeshojha commented on #156
Implemented in the latest release. Waiting to be merged.

[2020-11-25 05:18] #132 closed

[2020-11-25 06:44] yogeshojha commented on #204
Implemented, waiting to merge

[2020-11-25 07:10] #223 closed

[2020-11-25 14:34] yogeshojha commented on #213
Yay, the PR from @valbrux solves this. Waiting to merge in v0.5.

[2020-11-25 17:28] uBadRequest opened #267 "Global/Target Blacklist"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when i've been told im scanning out of scope assets.

**Describe the solution you'd like**
When creating a target, we should be able to define subdomains on that target that are out of scope.

It may also be nice to have a blacklist that can be uploaded, then I can easily collect all of the out of scope assets

[2020-11-25 18:08] yogeshojha commented on #267
Hi @uBadRequest, happy to tell you that v0.5 is coming up with out of scope options 😉

Please wait until this weekend.

[2020-11-25 20:04] yogeshojha commented on #162
This has been implemented ❤️

[2020-11-26 09:19] flag-KKK opened #268 "unknown flag: --iidfile"
**make crets：**

WARNING: Native build is an experimental feature and could change at any time
Building certs
unknown flag: --iidfile
See 'docker build --help'.
ERROR: Service 'certs' failed to build
make: *** [certs] Error 1

**make build：**

WARNING: Native build is an experimental feature and could change at any time
Building web
unknown flag: --iidfile
See 'docker build --help'.
ERROR: Service

[2020-11-26 17:01] tieungao88 opened #269 "Bug - Directory & Files Discovery"
Hi all,
I have problem when run:  Directory & Files Discovery:
celery_1       | [2020-11-26 16:59:29,318: ERROR/ForkPoolWorker-16] 'visual_identification'
celery_1       | [2020-11-26 16:59:29,324: INFO/ForkPoolWorker-16] Task reNgine.tasks.doScan[862b15e7-af72-43c1-b042-ab2c78a353cb] succeeded in 1.7978480644524097s: {'status': True}

Pleáe helpme.

Thanks

[2020-11-28 14:16] dirtycoder0124 commented on #227
I am also facing the same problem. Any solution?

[2020-11-28 15:12] oumeirsaifedeen opened #270 "Please Help! 0 Endpoints Discovered!"
Hello, I have installed reNgine correctly on Ubuntu VPS, version Ubuntu 20.04 (LTS) x64 and I get a problem that the tool is not using the Endpoints Discovered tools like "Diresearch" and at the end of the search it says this error
![image](https://user-images.githubusercontent.com/75129663/100518553-21890900-3147-11eb-9ef8-f6e6d89548ac.png)
![image](https://user-images.githubusercontent.com/75129

[2020-11-29 11:46] Rpal1315 opened #271 "Feature - safe and vulnerable file differentiation"
**Is your feature request related to a problem? Please describe.**
If there are vulnerable files in a website
 then  the computer may be attacked by malwares

**Describe the solution you'd like**
I want a feature that will filter safe and malware affected files

@yogeshojha

[2020-11-29 11:47] Rpal1315 commented on #271
@yogeshojha please respond to the issue

[2020-11-29 11:48] yogeshojha commented on #271
Rengine doesn't perform anything related to malware.

[2020-11-29 11:49] #271 closed

[2020-11-29 15:59] sasokyleader commented on #202
I Agree

[2020-11-29 16:02] sasokyleader commented on #153
Could you add the current percentage of the overall task?

[2020-11-29 16:18] sasokyleader opened #272 "Feature - Progress precentage"
**Is your feature request related to a problem? Please describe.**
When i close my pc and reopen it, the tool i cant know weather it is still working or not it shows in progress but is taking a lot of time (about 4 days know)  so i suggest adding a progress percentage to know the state of the tool

**Describe the solution you'd like**
adding a progress percentage

[2020-11-29 17:08] yogeshojha commented on #153
Good news, I have worked on this. Waiting to merge for v0.5.

[2020-11-29 17:09] yogeshojha commented on #270
The log doesn't show anything as such. Can you attach another log?

[2020-11-29 17:15] yogeshojha commented on #256
Good news, I have implemented this. It was a hell of a task. @noobyogi0010 if you are interested, how I implemented this, please look at the source code on startScan/api/viewsets.py

[2020-11-29 17:18] yogeshojha commented on #253
The scans are based on the number of threads available on your CPU. Celery divides the task based on the number of available free threads. There should be a workaround to increase the number of scans, but at this point, this is not in priority. However, I will come back to this issue in future, if there's more community request on this.

[2020-11-29 17:18] #253 closed

[2020-11-29 17:18] yogeshojha commented on #252
You can get the logs using `make logs`.

[2020-11-29 17:18] #252 closed

[2020-11-29 17:19] #248 closed

[2020-11-29 17:20] yogeshojha commented on #246
You are right @ad0nis, I need to remove httpx from passive.

[2020-11-29 17:21] yogeshojha commented on #243
There was a known issue in the older version of celery. This is now fixed in v0.5.

[2020-11-29 17:21] #242 closed

[2020-11-29 17:22] yogeshojha commented on #238
You haven't generated certificates. Please read the documentation available at rengine.wiki

[2020-11-29 17:22] #238 closed

[2020-11-29 17:23] yogeshojha commented on #272
This is coming 😉 Please wait for the v0.5 release.

[2020-11-29 17:37] #272 closed

[2020-11-29 17:38] #267 closed

[2020-11-29 17:38] #256 closed

[2020-11-29 17:53] #204 closed

[2020-11-29 17:54] #213 closed

[2020-11-29 17:54] #214 closed

[2020-11-29 17:54] #97 closed

[2020-11-29 17:54] #151 closed

[2020-11-29 17:54] #153 closed

[2020-11-29 17:54] #156 closed

[2020-11-29 17:54] #162 closed

[2020-11-29 17:55] yogeshojha commented on #185
Merged in v0.5

[2020-11-29 17:55] #185 closed

[2020-11-29 17:56] yogeshojha commented on #102
@attacker007 Oneforall is implemented!

[2020-11-30 05:38] 0xShin opened #274 "Bug - missing module mathfilters on web container"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
A missing module has been found on a web container in the new update which stops the web container to be launched.

### Steps to Reproduce

1. When, I launch rengine I use `docker-compose -f docker.compose.dev.yml` for dev purposes.
2. When I try to run it, it seems the web container doesn't launch up due to module error.
![imag

[2020-11-30 05:40] yogeshojha commented on #274
This is strange. Let me look at the requirements file.

[2020-11-30 05:41] yogeshojha commented on #274
Can you please attach your requirements.txt file?

[2020-11-30 05:43] 0xShin commented on #274
Yeah, sure <3
[requirements.txt](https://github.com/yogeshojha/rengine/files/5614000/requirements.txt)

[2020-11-30 05:44] 0xShin commented on #274
I have checked my requirements.txt to your repository's requirements.txt and they both seems the same.

[2020-11-30 08:53] yogeshojha commented on #134
Closing this as this is not an issue, but I will refer to this to improve reNgine.

[2020-11-30 08:53] #134 closed

[2020-11-30 08:53] #155 closed

[2020-11-30 08:54] yogeshojha commented on #173
Perfect, I need to see if I have chaos invitation. I will surely Integrate it.

[2020-11-30 09:05] #243 closed

[2020-11-30 09:05] yogeshojha commented on #245
Is this still occurring? Please attach the logs

`make logs`

[2020-11-30 09:06] yogeshojha commented on #258
Please attach logs.

`make logs`

[2020-11-30 09:07] #259 closed

[2020-11-30 09:07] yogeshojha commented on #268
Did you make any changes to makefile?

[2020-11-30 09:13] alph4byt3 opened #275 "Feature - Ability to do a Nuclei Vuln scan on alive endpoints"
If possible, implement a way for nuclei to scan the list of alive endpoints as well. Some of nucleis templates such as the XSS prober rely on GET parameters(iirc) and what would be especially useful with this is the tokens templates which can scan all JS endpoints that are found.

[2020-11-30 09:15] yogeshojha commented on #275
I did this infact. But the problem was, when nuclei received approx 20k+ endpoints, it crashed. I need to talk to nuclei guys, and see if it actually is a problem with my implementation or Nuclei.

But thanks for pointing this out.

[2020-11-30 09:22] yogeshojha commented on #200
Related to #89 . I am currently working on this, so that you can easily import subdomain results from other tools.

[2020-11-30 09:26] yogeshojha commented on #92
This will be worked upon using something like tags.

[2020-11-30 09:55] alph4byt3 commented on #275
Interesting, I wonder if that's the same for just the domains/ subdomains. If theoretically you have 20k working subdomains, would nuclei misbehave as well. Anyway, I know a lot of people run the tokens template on a list of js endpoints because it's good at finding secret keys so having it implemented would add this functionality. But yeah, check up with PD, sounds like a limitation on their end

[2020-11-30 10:05] yogeshojha commented on #102
I have announced bounty for finddomain and given instructions on how to implement. Let's wait until somebody sends a PR :smile:

[2020-11-30 10:10] yogeshojha commented on #275
I have tried for 50k+ subdomains, and I had no issues. It could be one reason that, your http URL contains many params and also sometimes URL maybe too long for nuclei to parse. Can't say for sure, I ran scan multiple times and it failed, so I dropped the plan of using URLs. Neverthless, in future we have to find a way for this. This will surely increase reNgine capabilities.

[2020-11-30 10:13] yogeshojha commented on #117
ffuf is coming for directory search after a lot of ask form community. Stay tuned :rocket:

[2020-11-30 10:14] yogeshojha commented on #146
Related to #117

[2020-11-30 10:15] yogeshojha commented on #184
Yay ffuf is coming. Duplicate of #146

[2020-11-30 10:15] #184 closed

[2020-11-30 10:16] yogeshojha commented on #117
Please follow #146 for any updated on ffuf.

[2020-11-30 10:16] #117 closed

[2020-11-30 10:17] yogeshojha commented on #192
This is something frequently asked from cumminity. I am working on it. Moreover there's another issue #92 which is related to this. Closing this as a duplicate. Please follow #92 for any updated.

Thank you :heart:

[2020-11-30 10:17] #192 closed

[2020-11-30 10:19] yogeshojha commented on #206
Redirect option is not supported by reNgine as of now, but I can implement it. No worries.

[2020-11-30 11:38] avi8892 opened #276 "HTML Report"
I thinks it would be beneficial to add html report.

[2020-11-30 16:01] venom26 opened #277 "Feature - Findomain and github-subdomains by gwen001"
#Dockerfile:-
[code]

#get_subdomains.sh
[code]

[2020-12-01 07:13] flag-KKK commented on #268
No,I never did it

[2020-12-01 14:13] hackingguy commented on #258
May be issue with VPS, I was using it in ec2 instance 1 GB RAM t2 micro!

[2020-12-01 14:14] hackingguy commented on #258
Please update in README Section about minimum requirements

[2020-12-01 18:11] austinsonger opened #281 "Feature - Spiderfoot"
**Is your feature request related to a problem? Please describe.**

- Integrate Spiderfoot into rengine

[2020-12-02 03:55] attacker007 opened #282 "To Extract Juicy Info from JS files add this Tool"
Please add in order to get juicy info from the files (Should be not limited to finding Endpoints from js files but also find Token etc sensitive information)

[code]

[2020-12-02 07:25] sappi13 opened #283 "How to upgrade existing build?"
Hello Team,

What are the steps to upgrade existing build?

[2020-12-02 13:30] sakyb7 opened #284 "docker issue"
when i install i it from docker hub or build with docker compose it errorin
[code]

[2020-12-02 17:50] M1k0er opened #285 "How can I add a custom subdomain list"
How can I add a custom subdomain list

[2020-12-03 12:45] zer0yu opened #287 "cdncheck"
**Is your feature request related to a problem? Please describe.**

Generally, after discovering the IP corresponding to a domain name, it is necessary to determine whether the corresponding IP is CDN in the first place, so as to avoid useless scanning

**Describe the solution you'd like**
Suggest to add  [cdncheck](https://github.com/projectdiscovery/cdncheck) to determine the IP for the probe

[2020-12-06 02:31] 0xspade commented on #166
apk command not found :(

[2020-12-06 22:37] Anne272732 opened #289 "Feature - Able to select some notifications"
Thanks for the tool, is awesome..

It would be good in the notifications section, to be able to select which notifications you want to receive, for example, only the start and end of the scan, or only receive vulnerabilities high and/or criticals.

This way you would avoid receiving hundreds of info-type notifications

Best Regards,

Anne

[2020-12-09 19:39] aniruddhmistry opened #290 "scan not work after hibernate or disconnect internet"
Hey Yogesh,

I am using mac after hibernate or disconnect the internet connection rengine not able to work again in the latest version after vulnerability scan feature add. if I stop or delete the current scan and add a new scop also it's not workin.

[2020-12-10 11:38] evanses opened #292 "problem with docker"
Cant build!

bash:
[code]

[2020-12-10 12:19] #292 closed

[2020-12-10 12:20] evanses commented on #292
Just edited version to "3.3"

[2020-12-10 13:04] TheD3C4Y commented on #292
maybe your Compose Version is out of date. Dont install via apt, install from the docs

sudo curl -L "https://github.com/docker/compose/releases/download/1.27.4/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose

sudo chmod +x /usr/local/bin/docker-compose

[2020-12-10 21:17] spazbg opened #293 "Can I use reNgine on raspberry or VPS?"
Can I use reNgine on Raspberry or VPS?
Which are the minimum requirements for the tool (cpu/ram) and the recommended one?

[2020-12-10 21:25] FlaviuPopescu opened #294 "Feature Request - Discord Webhook for updates."
I noticed you use rengine uses webhook for Slack, it would be very useful and easily implementable to do the same concept for Discord, there are many people like myself who are on Discord more often than Slack and would find a lot of value from this. To summarize I think it would be a great addition to your tool. Regards, Flaviu

[2020-12-10 22:09] FlaviuPopescu commented on #293
I wouldn't see why it won't work on a good spec Pi, you can definitely use it on a VPS, I'd say the basic req you'd want to have minimum 1GB ram for example the $5 vps.

[2020-12-10 22:13] FlaviuPopescu commented on #290
Just a suggestion, have you tried to run **make restart** inside the rengine folder?

[2020-12-10 22:16] FlaviuPopescu commented on #285
Go into Targets > Import Targets >
In there you can import via .txt file or .csv file

**Supported txt Format**
hackerone.com
docs.hackerone.com
nepal.gov.np
**UnSupported txt Format**
https://hackerone.com
https://docs.hackerone.com
nepal.gov.np/docs
**Supported CSV Format**
hackerone.com
docs.hackerone.com, Hackerone Docs
nepal.gov.np, Nepal Government Bug Bounty
**UnSupported CSV Format**
https

[2020-12-10 22:18] FlaviuPopescu commented on #284
This may help your situation,

You need to install **bind-tools** in Dockerfile-dev for Name does not resolve problem:

**apk add bind-tools**

Test:

/usr/src/app # **nslookup users-db**
nslookup: can't resolve '(null)': Name does not resolve

Name:      users-db
Address 1: 172.20.0.2 stc_users-db_1_f435854a8c88.stc_default

/usr/src/app # **apk add bind-tools**
(1/4) Installing json-c (0.13.1-r0

[2020-12-11 09:59] spazbg commented on #293
I am having Raspberry 3, but maybe will buy 4 with more ram available

[2020-12-11 11:59] FlaviuPopescu commented on #293
Sure.. Give it a try see how it works, It really depends on how big your target is, if you perform a scan on a big company that has hundreds of subdomains of course this will be lengthy.. you get the point.

[2020-12-12 18:20] Rahaf-crypto opened #295 "Show only live domains"
hi  yogeshojha,
if u can make it Show only live domains this is will be cool
thanks

[2020-12-13 01:11] 0xShin commented on #274
Hi yoge, we can close this now, I fixed it through changing the Django version in requirements.txt to 3.1.4

[2020-12-13 01:11] #274 closed

[2020-12-13 11:42] spazbg opened #296 "Unmet dependencies problem"
Any ideas on how can I fix this?

The following packages have unmet dependencies:
 python3-tornado : Breaks: mitmproxy (< 5.0~) but 4.0.4-6 is to be installed
E: Error, pkgProblemResolver::Resolve generated breaks, this may be caused by held packages.

![image](https://user-images.githubusercontent.com/22222777/102010787-fad2f100-3d48-11eb-8ed2-2a9a6d73f609.png)

[2020-12-13 13:20] spazbg commented on #296
sudo apt dist-upgrade
fixed the issue for me :)

[2020-12-13 16:47] spazbg opened #297 "How to set the time properly?"
Тhe clock is two hours behind - now is 6:44pm
![image](https://user-images.githubusercontent.com/22222777/102018057-6f228a00-3d73-11eb-8061-3856e3904b38.png)

[2020-12-14 13:07] spazbg opened #298 "Can't stop scan"
After the new scan haven't started because there was a massage Pending to finish the previous scan (witch in fact is finished) I tried to stop it but got this message

![image](https://user-images.githubusercontent.com/22222777/102084680-2f64ac80-3e1e-11eb-8473-ca85d3c46ef5.png)

[2020-12-15 13:55] nijats11 commented on #285
The same question, tried to put config in scan engine like:
wordlist: new_wordlist, but did not work.

[2020-12-15 23:56] bahlawi89 opened #299 "Amass Configurations never work for me"
### Issue Summary

I found out when I set a new configuration for Amass and load it with my custom scan Engine, it never calls any API at all.

### Steps to Reproduce

1. Create a new configuration called "amass_config_temp"
2. Create a new scan engine and call for "amass_config_temp" using ( amass_config: amass_config_temp)
3. Start a new Scan using your newly created scan engine.
4. Check if any

[2020-12-18 06:36] 5m477 commented on #227
i am facing the same error. Any fix to this?

[2020-12-18 06:38] dirtycoder0124 commented on #227
Download latest rengine and follow the new installation instructions.

On Fri, Dec 18, 2020 at 12:06 PM Ajayi smart <notifications@github.com>
wrote:

[2020-12-19 13:08] sherlocksecurity opened #300 "Bug - OneForAll Is not all merging results"
After the final roundup of subdomains, the overall shows exporting results in .csv files in the app directory but no files found there or shown, Logs shows no file found after the process.

Thanks,

[2020-12-20 15:40] c4nh0t0 commented on #283
I've tried with git pull but afterwards the framework respond with server errors 502, 500.

[2020-12-21 20:31] thugzee commented on #299
Having the same issue

[2020-12-21 20:32] thugzee commented on #299
Having the same issue

[2020-12-21 20:34] big-ppp commented on #299
I can confirm the same issue

[2020-12-22 02:41] n00B-ToT opened #301 "web can not build"
root@ubuntu:~/rengine#>> docker-compose up -d --build web
# github.com/projectdiscovery/httpx/cmd/httpx
root/go/pkg/mod/github.com/projectdiscovery/httpx@v1.0.2/cmd/httpx/banner.go:19:2: undefined: gologger.Printf
root/go/pkg/mod/github.com/projectdiscovery/httpx@v1.0.2/cmd/httpx/banner.go:20:2: undefined: gologger.Printf
root/go/pkg/mod/github.com/projectdiscovery/httpx@v1.0.2/cmd/httpx/banner.go

[2020-12-22 02:50] #301 closed

[2020-12-22 08:52] JoshuaMart commented on #299
Hi,
Did you use the latest binary version of amass ? I fixed this here : https://github.com/yogeshojha/rengine/pull/286

[2020-12-22 09:48] puzanov commented on #301
how did u solve the issue? I am facing the same.

[2020-12-22 10:41] Monst3rSec opened #302 "Feature - reNgine isn't logged their actions for future reference"
**Is your feature request related to a problem? Please describe.**
the logging system is not implemented in the reNgine engine. For this reason, I wouldn't prove that actions have triggered by reNgine.

**Describe the solution you'd like**
should save as log each and every action taken by reNgine.

**Describe alternatives you've considered**
Nope. will notify you if I seen it.

**Additional contex

[2020-12-22 10:45] puzanov opened #303 "Bug - make build failed with undefined: gologger.Errorf"
### Issue Summary

httpx required gologger v1.0.1, but v1.1.2 installed instead where Errorf func were removed

### Steps to Reproduce

Run  `make build`

### Technical details

Probably another pkg requires newer gologger
![image](https://user-images.githubusercontent.com/91070/102880107-0626ca80-4475-11eb-9230-e5c560709974.png)

[code]

[2020-12-23 02:11] thau0x01 commented on #303
facing the same issue.

Thank you all rengine devs for the amazing tool!

[2020-12-23 02:26] jarvisuser90 commented on #303
Same problem.

[2020-12-23 02:46] TerickJojo commented on #301
same

[2020-12-23 02:46] TerickJojo commented on #303
same

[2020-12-23 04:32] n00B-ToT commented on #301
u can modify Dockerfile remove  '-u -v' where line startwith go get 952695313 邮箱：952695313@qq.com 签名由 网易邮箱大师 定制 On 12/23/2020 10:46, TerickJojo wrote: same — You are receiving this because you modified the open/close state. Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-12-23 07:09] TerickJojo commented on #301
搞定了，牛逼牛逼

[2020-12-23 07:26] sappi13 opened #304 "Error on command make build"
When I run command `make build` getting the below error.

![Screenshot 2020-12-23 at 12 54 02 PM](https://user-images.githubusercontent.com/7771468/102970799-2f4f6580-451e-11eb-806b-7804204ff92d.png)

[2020-12-23 07:31] n00B-ToT commented on #301
🐮 952695313 邮箱：952695313@qq.com 签名由 网易邮箱大师 定制 On 12/23/2020 15:09, TerickJojo wrote: u can modify Dockerfile remove  '-u -v' where line startwith go get 952695313 邮箱：952695313@qq.com 签名由 网易邮箱大师 定制 On 12/23/2020 10:46, TerickJojo wrote: same — You are receiving this because you modified the open/close state. Reply to this email directly, view it on GitHub, or unsubscribe. 搞定了，牛逼牛逼 — You are receivi

[2020-12-23 09:46] AlTahish commented on #304
Same with me in kali 2020.4 with the latest updated tools

[2020-12-23 09:48] AlTahish commented on #303
same

[2020-12-23 12:05] uzza1hossain opened #305 "make build error"
Step 13/25 : RUN GO111MODULE=on go get -u -v github.com/projectdiscovery/httpx/cmd/httpx
 ---> Running in c6fa5ba4ca9d
[91mgo: downloading github.com/projectdiscovery/httpx v1.0.3
[0m[91mgo: found github.com/projectdiscovery/httpx/cmd/httpx in github.com/projectdiscovery/httpx v1.0.3
[0m[91mgo: downloading github.com/projectdiscovery/gologger v1.0.1
[0m[91mgo: downloading github.com/logruso

[2020-12-23 12:06] uzza1hossain commented on #305
Help

[2020-12-23 12:21] puzanov commented on #301
https://github.com/yogeshojha/rengine/issues/303

[2020-12-23 12:21] puzanov commented on #305
https://github.com/yogeshojha/rengine/issues/303

[2020-12-23 13:11] mastomii commented on #303
I was successfully installed by modifying the `Dockerfile`

From:

[code]

To:

[code]

[2020-12-23 19:21] Fawadkhanfk opened #306 "jok3r"
https://www.jok3r-framework.com/

marge iiiiit

[2020-12-23 19:41] Kun19 commented on #303
A workaround is to remove the -u flag in the Dockerfile to avoid upgrading gologger from v1.0.1 to v1.1.2.

[code]

[2020-12-24 09:02] AlTahish commented on #303
Another Problem After Editing Dockerfile:
o get github.com/projectdiscovery/httpx/cmd/httpx: module github.com/projectdiscovery/httpx/cmd/httpx: Get "https://proxy.golang.org/github.com/projectdiscovery/httpx/cmd/httpx/@v/list": dial tcp: lookup proxy.golang.org on 192.168.191.2:53: read udp 172.17.0.2:46566->192.168.191.2:53: i/o timeout
The command '/bin/sh -c GO111MODULE=on go get -v github.com

[2020-12-24 09:02] AlTahish commented on #303
Another Problem After Editing Dockerfile:
`o get github.com/projectdiscovery/httpx/cmd/httpx: module github.com/projectdiscovery/httpx/cmd/httpx: Get "https://proxy.golang.org/github.com/projectdiscovery/httpx/cmd/httpx/@v/list": dial tcp: lookup proxy.golang.org on 192.168.191.2:53: read udp 172.17.0.2:46566->192.168.191.2:53: i/o timeout
The command '/bin/sh -c GO111MODULE=on go get -v github.co

[2020-12-24 09:11] puzanov commented on #303
@AlTahish

Seems that you have a connection problem on your box: `dial tcp: lookup proxy.golang.org on 192.168.191.2:53: read udp 172.17.0.2:46566->192.168.191.2:53: i/o timeout The command`

[2020-12-24 09:16] puzanov commented on #303
@Kun19 your solution solved the problem. Consider to send PR.

[2020-12-24 12:32] AlTahish commented on #303
@puzanov

[2020-12-26 10:57] 0xspade opened #308 "Eliminate other files in endpoint discovery"
Hi,

Just wanted to eliminate (if possible) the other file extensions like css, png, eot, woff,woff2, svg, ico, jpg,jpeg, tiff,tiff2, ttf2, ttf, eot2, etc.

[2020-12-26 13:42] Seif-AW commented on #305
i have the same error

[2020-12-26 13:43] Seif-AW commented on #304
same with me in ubuntu 18.04

[2020-12-27 04:08] w4tchd09 opened #309 "How to modify the port of web service?"

[2020-12-27 04:26] #309 closed

[2020-12-27 09:21] b0tzone opened #310 "Installation Failed"
Hi Team,

Please resolve this issue.

![image](https://user-images.githubusercontent.com/39560492/103167614-a3f20f00-4852-11eb-8452-ef18f67524c6.png)

Thanks.

[2020-12-27 09:35] b0tzone commented on #303
Thank you!  This is working for me.

[2020-12-27 09:36] b0tzone commented on #310
Ref: https://github.com/yogeshojha/rengine/issues/303#issuecomment-751445562

[2020-12-27 09:36] #310 closed

[2020-12-27 15:44] cheetah12-tech commented on #305
same error

[2020-12-28 09:26] shelu16 opened #311 "Bug - Title of Bug"
Hi,

 there is issue in build fail,
make build
COMPOSE_DOCKER_CLI_BUILD=1 docker-compose -f docker-compose.yml build db web proxy redis celery celery-beat
Traceback (most recent call last):
  File "urllib3/connectionpool.py", line 677, in urlopen
  File "urllib3/connectionpool.py", line 392, in _make_request
  File "http/client.py", line 1252, in request
  File "http/client.py", line 1298, in _sen

[2020-12-28 09:27] shelu16 commented on #311
ok

[2020-12-28 13:31] micha3lb3n commented on #308
Hi @0xspade , you can make use of queries to seperate them.

`content_type!image/png`

will remove all the PNG images. This can be coupled with `&` operator to achieve the desired result!

[2020-12-28 16:35] Anne272732 commented on #242
Hi @yogeshojha,

I get the same error today:

Step 13/25 : RUN GO111MODULE=on go get -u -v github.com/projectdiscovery/httpx/cmd/httpx
 ---> Running in d8c05673d917
go: downloading github.com/projectdiscovery/httpx v1.0.3
go: found github.com/projectdiscovery/httpx/cmd/httpx in github.com/projectdiscovery/httpx v1.0.3
go: downloading github.com/projectdiscovery/fdmax v0.0.2
go: downloading github.

[2020-12-29 06:51] InfoSec4Fun commented on #242
Hi @yogeshojha,
I'm also facing the same issue

Step 13/25 : RUN GO111MODULE=on go get -u -v github.com/projectdiscovery/httpx/cmd/httpx
 ---> Running in 48adbd3f64d0
go: downloading github.com/projectdiscovery/httpx v1.0.3
go: found github.com/projectdiscovery/httpx/cmd/httpx in github.com/projectdiscovery/httpx v1.0.3
go: downloading github.com/projectdiscovery/gologger v1.0.1
go: downloading gi

[2020-12-29 07:43] PrajwalKhante opened #312 "Bug - Multiple Scan Issue"
### Issue Summary

While creating and Initiating multiple scans it doesn't start concurrently and also the Freezes on the first scan itself

I have confirmed that this issue can be reproduced as described on the latest version/pull of reNgine: (yes)

### Technical details

Kali Linux on VPS

[2020-12-29 17:40] #296 closed

[2020-12-29 17:41] #311 closed

[2020-12-29 17:42] #305 closed

[2020-12-29 17:42] #304 closed

[2020-12-29 17:43] yogeshojha commented on #303
Sorry guys, I was away from reNgine for a while. Thank you @Kun19 for your PR. I have merged it, fixes the issue now.

[2020-12-29 17:43] #303 closed

[2020-12-29 17:44] yogeshojha commented on #298
Logically, the scans that have never started cannot be stopped, because celery task id isn't genereted yet.

A good UX would be to remove the stop button for pending scan, what do you think?

[2020-12-29 17:44] yogeshojha commented on #283
git pull
make build
make up

Should work

[2020-12-29 17:44] #283 closed

[2020-12-29 17:46] yogeshojha commented on #312
I can confirm multiple scan works on latest build. Can you please attach some logs atleast when the scan initiates?

[2020-12-29 17:46] yogeshojha commented on #308
i guess, we can work on this, just like how we exclude subdomains, we can exclude the file extensions. I will keep you updated

[2020-12-29 17:48] yogeshojha commented on #302
You mean python loggers?

[2020-12-29 17:51] yogeshojha commented on #300
Yes because once the scan is completed, after the parsing is done, to save up some diskspace, we thought of removing the csv or any other generated files

https://github.com/yogeshojha/rengine/blob/a7a1faa44aad72b616d96e1a5565b65d386c05b6/reNgine/tasks.py#L224

[2020-12-29 17:51] #300 closed

[2020-12-29 17:53] yogeshojha commented on #299
This is already merged and should work right @JoshuaMart ?

[2020-12-29 17:53] #299 closed

[2020-12-29 17:56] yogeshojha commented on #297
This is a good question though, I have been thinking about this lately.

The clock is currently UTC, I haven't checked with localized time. AFAIK Server time is always on UTC, correct me if I am wrong.

https://github.com/yogeshojha/rengine/blob/a7a1faa44aad72b616d96e1a5565b65d386c05b6/reNgine/settings.py#L129

can you change this to your timezone and see if celery scheduled tasks and normal scan

[2020-12-29 17:57] yogeshojha commented on #295
You can do http_status=200.

I guess this should work right?

[2020-12-29 17:57] #295 closed

[2020-12-29 18:02] JoshuaMart commented on #299
Hi,
Yes it works on my side :)

[2020-12-29 18:04] yogeshojha commented on #285
@FlaviuPopescu Thank you for helping them out.

@nijats11 can you please attach the logs? Without logs, its impossible to tell what could have gone wrong

[2020-12-29 18:05] yogeshojha commented on #284
@FlaviuPopescu Thank you ❤️

I hope this would have solve this issue

[2020-12-29 18:05] #284 closed

[2020-12-29 18:06] yogeshojha commented on #293
I guess on raspberry pi, somebody dmed me on Twitter that chromium doesn't work or chromium build is not available for ARM.

Except for screenshots, we dont use chromium eitherways. So everything else should work

VPS, I have used digitalocean and works flawlessly.

[2020-12-29 18:07] yogeshojha commented on #293
Please keep us updated if somebody is able to run this on Raspi

[2020-12-29 18:16] Monst3rSec commented on #302
Yes. this might be useful for tracking the action.

[2020-12-30 16:31] harshtya9i opened #314 "Feature - Add Resume and Pause features"
We can add Pause and Resume functionality buttons which give better flexibility to the users.

[2020-12-30 17:19] yogeshojha commented on #314
Unfortunately, not sure if celery supports this. But any scans, that could not be completed are anyways resumed by celery. So adding pause and resume is currently not in the pipeline.

[2020-12-30 17:19] #314 closed

[2020-12-30 17:28] harshtya9i commented on #314
Hi, Yogesh
I have one query also can we implement multiple scan (2-3 scan) at simultaneoulsy on different targets.
Thanks

[2020-12-30 17:44] yogeshojha commented on #314
Yes reNgine already supports this, it depends on your CPU threads though, this is handled by Celery, celery will lool for the free threads and depending on the numbers will run simultaneous scans. You can try on VPS though, to unleash the power of reNgine, install on VPS with atleast 4 CPU. You can run 4 simultaneous scans.

If you're looking for VPS, use dogitalocean, use this referral link and y

[2020-12-31 21:38] shariarr opened #315 "Dirsearch Failed"
![image](https://user-images.githubusercontent.com/75485377/103426291-a5b92b00-4be2-11eb-900b-710078b4ac68.png)

Is it the scan  failed? Or only the Dirsearch Section??Will it go to next section???If not what to do next?

[2021-01-01 07:18] yogeshojha commented on #315
The other scan will continue to work as expected.

[2021-01-01 07:18] #315 closed

[2021-01-01 07:18] #312 closed

[2021-01-01 16:54] shahriarr-sec opened #316 "Percentage of Completion"
Add a the feature that shows the percentage of completion.

[2021-01-03 10:25] shelld3v opened #317 "Update your dirsearch"
I am seeing that the dirsearch source code in this repo is from an old version of dirsearch: https://github.com/yogeshojha/rengine/tree/master/tools/dirsearch. Can you please update it!

[2021-01-04 07:16] oways opened #318 "Feature - Scheduled scan for multiple targets"
The application allows only single target to perform scheduled scan and I really need to do schedule scans for multiple domains, it is really appreciated if this feature can be added.

[2021-01-05 18:49] r3dC4prica opened #319 "Add Instructions for Updating rengine after major updates in the wiki"
I keep forgetting how to do this and it would be super nice if this was included in the wiki instructions. After a major update, how do I update my existing installation?
Do I do this?:

1. Make stop
2. Make Build
3. Make Up

And that will update the engine?

[2021-01-07 08:48] atikrahman1 commented on #268
did you find any solution for this? I am facing the same issue @flag-KKK

[2021-01-07 08:54] atikrahman1 commented on #268
I have solved the issue by updating my old docker version to the latest one

[2021-01-07 11:28] atikrahman1 commented on #112
is there any update/solution? I am fetching the same error on windows based docker @selomoscar2 @yogeshojha

[2021-01-07 12:37] ptrk01 commented on #298
@yogeshojha I would recommend to remove the stop button and add something like "delete from pending list".

However, I have the same problem with a target in scanning mode. The target has found over 40k live domains and it has been running for days now. I wanted to stop it but I get the same message as above.

![github_1](https://user-images.githubusercontent.com/26350416/103893225-3913c400-50ed-1

[2021-01-10 15:52] ShayShwartz opened #321 "dirsearch - Efficiency vs Stability"
### Issue Summary

When get_dirs.sh runs dirsearch module, it requesting pages using IP to make the scanning faster.
Many websites require requests to be by hostname, otherwise, you receive SSL Error.
"SSL Error connecting to server. Try the -b flag to connect by hostname"
In order to make it stable, you should add to get_dirs.sh the flag -b when running dirsearch to request pages by hostname.

##

[2021-01-10 15:57] ShayShwartz opened #322 "Feature - HTTP/Socks proxy support"
**Is your feature request related to a problem? Please describe.**
I need to make the pentest via the company https proxy, so I had to use transparent to  HTTP Proxy docker and edit the docker-compose in order to make it happen.

**Describe the solution you'd like**
An option to mention proxy protocol, address and port and make all the plugins to use this proxy.

**Describe alternatives you've con

[2021-01-11 01:33] uBadRequest opened #323 "Vulnerability Datatables Error On Deleted Targets"
### Issue Summary

If a target is deleted, vulnerabilities from that target stick around and cause a datatable error when viewing all vulnerabilities. This is because there is no longer a 'host' value.

### Steps to Reproduce

1. Scan target with engine that has vulnerability scanner enabled.
2. Delete target.
3. View vulnerabilities and an error should occur if those vulnerabilities so happen to

[2021-01-11 01:34] uBadRequest commented on #92
Could we configure scheduled scans based on tags?

[2021-01-11 04:03] uBadRequest commented on #323
Actually, I don't think this is exactly what's causing it. A scan against a fresh target resulted in a 500 server error while paging through the vulnerabilities. The logs in the docker 'web' container don't contain the errors, so i'd probably have to enable debugging on django to get details of the exception that's occurring.

[2021-01-12 04:17] pradeepch99 opened #324 "Basic Auth for rengine"
I have added basic authentication for nginx proxy with below configuration

[code]

[code]
You will be asked to supply and confirm a password for the user.

`nano rengine/docker-compose.yml`

Add auth file volume as below under proxy:

[code]

[2021-01-20 11:44] shahriarr-sec opened #325 "FeroxBuster"
Please Add feroxbuster.

[2021-01-20 18:05] chawdamrunal opened #326 "support"
tcp4 0.0.0.0:80: bind: address already in use so how can i set custom port for that

[2021-01-20 18:14] chawdamrunal commented on #326
ERROR: for 679d169e504f_rengine_proxy_1  Cannot start service proxy: driver failed programming external connectivity on endpoint 679d169e504f_rengine_proxy_1 (68d315f482dd3f3cdc6e7d46a140b61207cf00ff29349bd4a89592f2a6cbf7da): Error starting userland proxy: listen tcp4 0.0.0.0:80: bind: address already in use

ERROR: for proxy  Cannot start service proxy: driver failed programming external connecti

[2021-01-21 12:23] Regala commented on #200
@yogeshojha wonder how this is coming along? 😛

[2021-01-21 20:51] r3dC4prica commented on #222
I also experience issue every time I start a new scan

[2021-01-23 17:44] sidjad opened #327 "Bug - ERROR: Service 'web' failed to build"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
error checking context: 'no permission to read from '/home/lab/rengine/secrets/certs/ca.key''.
ERROR: Service 'web' failed to build

### Steps to Reproduce

1. During installation of rengine { make build } It was showing "
ERROR: Service 'web' failed to build
"

Any other relevant information. For example, why do you consider th

[2021-01-23 18:56] 6uhrmittag opened #328 "[info] Google’s Safe Browsing blocks this Repo"
Hi!

Sorry if this doesn't belong here - I just want to inform... someone?!

Google's Safe Browsing currently blocks the URL of this repo because:

[code]
Report: https://transparencyreport.google.com/safe-browsing/search?url=https:%2F%2Fgithub.com%2Fyogeshojha%2Frengine&hl=en

Happened in Brave browser when browsing through Github.
I know, probably a stupid feature anyway - I've just never seen t

[2021-01-24 13:14] ptrk01 opened #329 "Where are Nuclei templates stored?"
I want to exclude  couple of Nuclei templates which returns information I do not need for my hacking practice. Therefore I would like to exclude them from process. But I could not find location where they are stored. Any help?

I think it would be helpful to have a GUI feature in reNgine to select templates which should be used for Nuclei process.

[2021-01-25 08:34] #327 closed

[2021-01-28 09:38] thecybermanhunter opened #330 "Feature - Vulners to check services having cve's"
**Is your feature request related to a problem? Please describe.**
As we perform port scan , is that possible to check Vulners as well ,similar to [MassVulnScan](https://github.com/choupit0/MassVulScan) ?
Also is that possible to perform scans using ip's as target as we can see elastic ip's and lb ip's are also being used by many organizations.
**Describe the solution you'd like**
So once the port

[2021-01-31 12:36] demon1k opened #332 "Bug - Lots of chrome defunct's left while endpoint scan runs"
Scanning Started
 Completed
2 days ago

Subdomain Scanning
 Completed
1 day, 23 hours ago

HTTP Crawler
 Completed
1 day, 23 hours ago

Visual Recon - Screenshot
 Completed
1 day, 23 hours ago

Port Scanning
 Completed
1 day, 23 hours ago

Directory Search
 Completed
1 day, 18 hours ago

Fetching endpoints
 In progress                           <<--- still running when i noticed the issue
1 day, 1

[2021-01-31 18:08] demon1k opened #333 "Feature - Queued Multiple targets for scan once current finishes."
I know rengine can run multiple scans at once(not possible cause of limited ram) and has function to schedule(not practical in this case because we don't know when any xzy scan will end*how much time it would take*}. But if there is a Que option that i can select 100 targets and i only want 1 scan instance to run at a time and once that one is finished the next one in que starts. What do you guys

[2021-01-31 18:12] demon1k opened #334 "Feature - Dir bruteforce ignoring custom 404 page which is picked up as 200"
Most of the times webapps have custom error page so when dirbruteforce shows result it will show everything as a hit cause of that. but the result/hit all would have same response size for ex: 0.60kb. is there a way to filter that out? Thanks

Kindly check the attached screenshot to see what i mean. Thanks
![rengine-dir-prob](https://user-images.githubusercontent.com/26355801/106393575-b941f680-64

[2021-02-01 10:59] matthernet commented on #289
This could be really really helpful in order to receive and read the vulnerabilities in an organized way, avoiding the start/end scene of each target
There is a date for this?

[2021-02-01 11:30] c4nh0t0 opened #335 "[QUESTION] Backup Whole Rengine"
Is there a way to backup the whole rEngine system (finished scans, configurations and so on)?
I mean, I need transfer all the rEngine stuff from one machine to other. What's the best way to do it?

Thanks.

[2021-02-02 09:55] #316 closed

[2021-02-02 19:18] demon1k commented on #334
Also if we could pass custom header to include our bugbounty username or a string... while doing dirbruteforce... as this is required by some programs. Otherwise the ip would get banned/blacklisted.

[2021-02-03 22:02] yaahiaa opened #336 "dirsearch"
can i make the dir_file_search be like that
dir_file_search:
    extensions: [ php,asp,aspx,txt,conf,db,sql,json ]
    **recursive: true**

to make it be recursive ??

[2021-02-05 04:43] abundov commented on #242
Just a heads up for this error: My fix was to **"make certs" again** and try "make build" after. I
t completed successfully.

[2021-02-09 08:23] jaykumarjp opened #337 "Unable to link custom wordlist"
I uploaded wordlist and i configured in scan engine by short_name, i removed default and added new shortname, but when i scan with new configuration if failed on dir search.

[2021-02-12 00:09] kcnewb1e commented on #285
should i using protocol to input site list?
like https:// or http:// ?
cant i input without protocol?

[2021-02-12 00:44] kcnewb1e opened #338 "cant import .csv list target"
### Issue Summary

i cant import list domain target.

### Steps to Reproduce

1. When i am import list with .csv file, gotten error invalid type

Any other relevant information. For example, why do you consider this a bug and what did you expect to happen instead?

* I have confirmed that this issue can be reproduced as described on a latest version/pull of reNgine: (yes / no)
* yes

### Technical

[2021-02-12 13:50] Rajkumar-427 opened #339 "Restarting error showing apache page"
Hi Team
My Laptop got shutdown when the scanning is going on and i am using it in vps, after ssh into the vps and tried to open with that ip of the vps and its showing the apache page , how to resolve that and my data of scanning can i able to get that . Please help me in this issue.

[2021-02-12 14:48] welltest opened #340 "Unable to scan multiple targets"
When I try to scan multiple targets it scan 1st and pending 2nd.

![2021-02-12 20_14_05-Scan history](https://user-images.githubusercontent.com/7748482/107782705-64827200-6d6f-11eb-8abf-5f4b2c839250.png)

[2021-02-14 13:55] c4nh0t0 commented on #340
The tests that I've made I could manage scan 2 targets at time. Maybe you have some older scan hanging in rengine. Take a look using **htop** to see if there's any scan running or crashed.
If you add another one looks like it will enter in a **pending** status.

![image](https://user-images.githubusercontent.com/8462973/107878668-08286b00-6eb3-11eb-9530-283cc37996c5.png)

[2021-02-14 17:07] welltest commented on #340
@c4nh0t0  I did fresh install but still facing this issue. Could please help me in this?

[2021-02-17 17:41] rohitcoder commented on #328
Now this error is also popping on chromes not only brave...

[2021-02-18 07:22] oways opened #342 "Scheduled scan for multiple targets"
If it possible to allow multiple targets to be selected for scans, I suggest to include more than one target in one group

[2021-02-18 19:19] Cycl0pe opened #343 "Help - Adding feature(s)"
Hi,

I am interested in adding some features to this amazing project but I have difficulties making migrations to change the database structure.

Do you know when we will be able to get some doc to be able to add some features ?

Kind regards,

[2021-02-19 18:20] yogeshojha commented on #294
Hi @FlaviuPopescu ,

@EQW99 finally implemented this. I am super proud of him. Much appreciated. Thank you once again.

Also, I awarded him $20 bounty for this feature request, if you would like to support him, please feel free to offer him any bounty.
This will inspire him to implement more feature requests.

Thank you

[2021-02-19 18:20] #294 closed

[2021-02-19 18:24] yogeshojha commented on #328
Can you please confirm if this is fixed?

[2021-02-19 18:24] yogeshojha commented on #328
Looks like now it's fixed, it was a mistake from Google.

![Screenshot from 2021-02-19 23-54-25](https://user-images.githubusercontent.com/17223002/108545446-cf9eec00-730d-11eb-8099-97eb53a81a56.png)

[2021-02-19 18:25] yogeshojha commented on #328
Feel free to self close this issue ❤️

[2021-02-19 18:26] yogeshojha commented on #294
![Screenshot from 2021-02-19 23-55-40](https://user-images.githubusercontent.com/17223002/108545622-07a62f00-730e-11eb-881e-6b6c4e8360ac.png)

[2021-02-19 18:39] #328 closed

[2021-02-19 18:44] ansidorov commented on #338
Hello.

Could you please tell me what version of reNgine you are using, what file name are you importing?
I have not been able to reproduce the problem.

[2021-02-19 19:11] kcnewb1e commented on #338
Lastest version sir..

[2021-02-20 02:42] goodrookie opened #345 "502 Bad Gateway when listing targets (can't scan!!)"
Every other funtionality seems working fine, but when I list targets (in order to scan an old target o to scan a newly added target) I get this error: **502 Bad Gateway - nginx/1.19.6**

**_Fragment of make logs:_**
web_1          | [2021-02-20 02:35:38 +0000] [1] [CRITICAL] WORKER TIMEOUT (pid:48)
web_1          | [2021-02-20 02:35:38 +0000] [48] [INFO] Worker exiting (pid: 48)
proxy_1        | 2

[2021-02-21 03:00] 1y0n commented on #311
same

[2021-02-22 02:52] kcnewb1e commented on #338
![image](https://user-images.githubusercontent.com/53884802/108651068-96c06c00-74f3-11eb-82d5-0f3b6e055fd7.png)

i using .csv import, and after i upload, i got error and redirected to form upload .txt

[2021-02-22 20:09] payloadartist opened #347 "Stored XSS in Rengine due to missing sanitization in "Vulnerable URLs" in "Vulnerability Scan Results" page"
First of all, kudos to you for bringing the Nuclei integration. reNgine is now my go to tool 🙌
No match to any other framework I used...

### Issue Summary
I came across a Stored XSS while doing vulnerability scans at the following endpoint ```start_scan/detail/vuln```

![image](https://user-images.githubusercontent.com/41829660/108762994-c95f7880-7576-11eb-9b42-0323b0add00a.png)

More specificall

[2021-02-22 20:14] payloadartist commented on #347
PoC with the alert popup.
I think no XSS report is complete without it :P Everytime I loaded the Vulnerability Results page, this got triggered and it became quite annoying, so a functional bug too in a way

![image](https://user-images.githubusercontent.com/41829660/108764391-8bfbea80-7578-11eb-8a79-0a1a444b128b.png)

[2021-02-22 21:37] 2502151499 commented on #338
UnsucrableOn Feb. 19, 2021 11:11, kcnewb1e <notifications@github.com> wrote:
Lastest version sir..

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-02-23 05:51] yogeshojha commented on #347
This has been fixed.
Thank you once again for reporting.
If you find any other instances of XSS, feel free to report them on a separate issues.

Here is the acknowledgement from reNgine:

https://github.com/yogeshojha/rengine/blob/master/.github/SECURITY.md

[2021-02-23 05:51] #347 closed

[2021-02-23 06:42] AhmedOzil10 commented on #327
same here

[2021-02-23 07:33] payloadartist opened #349 "Feature - Ability to kill a task, or, delete a specific task's results"
**Is your feature request related to a problem? Please describe.**
Sometimes ```dirsearch``` and ```endpoint``` extraction doesn't work as expected, and that leads to a lot of useless data being collected.

An example: dirsearch logs endpoints with ```200 status``` but sometimes backends respond with custom error page skipping out the status code (404). In such cases, dirsearch returns too many fa

[2021-02-23 18:41] foozzi opened #352 "build error"
[code]

### Steps to Reproduce

1. run make build

### Technical details

ubuntu 18

[2021-02-23 19:17] anggipradana commented on #352
same with me

[2021-02-23 20:15] anggipradana commented on #352
`# Download Go packages
RUN go get -u github.com/tomnomnom/assetfinder github.com/hakluke/hakrawler

RUN GO111MODULE=on go get -v github.com/projectdiscovery/nuclei/v2/cmd/nuclei

RUN GO111MODULE=on go get -v github.com/projectdiscovery/subfinder/v2/cmd/subfinder \
    github.com/lc/gau

RUN GO111MODULE=on go get -v github.com/projectdiscovery/httpx/cmd/httpx

RUN GO111MODULE=on go get -v github.c

[2021-02-23 20:16] omemishra opened #353 "Error While Installing"
Bro please tell me the solution of this

The command '/bin/sh -c GO111MODULE=auto go get -u -v github.com/projectdiscovery/httpx/cmd/httpx' returned a non-zero code: 1
ERROR: Service 'web' failed to build
make: *** [Makefile:25: build] Error 1

i am getting this error while installing

regards
Ome

[2021-02-23 20:44] payloadartist commented on #353
Try my fix - #346

It will work hopefully. I added the missing dependency.

Cheers

[2021-02-23 21:07] foozzi commented on #352
i tried it already and get error:
[code]
but  libpcap-dev libpcap0.8 libpcap0.8-dev is installed lol

[2021-02-23 21:11] anggipradana commented on #352
RUN apk update \
    && apk add --virtual build-deps gcc python3-dev musl-dev \
    && apk add postgresql-dev chromium git netcat-openbsd build-base **libpcap-dev** \
    && pip install psycopg2 \
    && apk del build-deps

Add **libpcap-dev** on Dockerfile too bro

[2021-02-23 21:19] foozzi commented on #352
[code]

again... for v2

[2021-02-23 21:43] foozzi commented on #352
solved install ubuntu 20, but 18 not working

[2021-02-23 21:59] foozzi commented on #353
ubuntu 20, with your patch(

[code]

[2021-02-23 22:01] ciarancotter commented on #353
I am having the same problem.

[2021-02-23 22:50] foozzi commented on #353
naabu use old syntax for **gologger**
https://github.com/projectdiscovery/naabu/commit/17be83c51a638290ec81a05518473647a7994551

[2021-02-24 03:03] omemishra commented on #353
Thank you bhai log......

On Wed, 24 Feb 2021, 4:20 am foozzi, <notifications@github.com> wrote:

[2021-02-24 14:53] omemishra commented on #353
service docker start

it will start docker

then use it

[2021-02-24 15:00] omemishra commented on #353
getting this error with your build.

github.com/lc/gau/providers
github.com/lc/gau
The command '/bin/sh -c GO111MODULE=on go get -v github.com/projectdiscovery/subfinder/v2/cmd/subfinder     github.com/projectdiscovery/nuclei/v2/cmd/nuclei     github.com/lc/gau     github.com/projectdiscovery/naabu/cmd/naabu' returned a non-zero code: 2
ERROR: Service 'web' failed to build
make: *** [Makefile:25:

[2021-02-24 15:13] payloadartist commented on #353
I updated it, added the ```go get``` commands in separate lines. Try again and lmk. It works fine me for me though!

Cheers

[2021-02-24 15:17] payloadartist commented on #353
This worked. You can check, the build succeeded after putting them in separate lines -> https://github.com/yogeshojha/rengine/pull/346/checks?check_run_id=1971249086

Cheers

[2021-02-24 15:18] omemishra commented on #353
i have downloaded now only but have you pushed the patch now bro?

[2021-02-24 15:20] payloadartist commented on #353
yes I changed it *just now* to fix it. so if you have the older version, you can do ```git pull``` to update that from my patch branch

Cheers

[2021-02-24 15:28] omemishra commented on #353
getting this error

`github.com/lc/gau
github.com/projectdiscovery/nuclei/v2/pkg/matchers
github.com/projectdiscovery/nuclei/v2/pkg/requests
github.com/projectdiscovery/subfinder/v2/cmd/subfinder
github.com/projectdiscovery/naabu/pkg/scan
hash github.com/projectdiscovery/naabu/pkg/scan
root/go/pkg/mod/github.com/projectdiscovery/naabu@v1.1.4/pkg/scan/connect.go:18:3: undefined: gologger.Debugf
roo

[2021-02-24 15:37] payloadartist commented on #353
can you git pull and check again?

I think you are still on older version of patch

Cheers

[2021-02-24 15:55] omemishra commented on #353
bro i have done this but i am getting same error .

is this because of go version because mine is latest.

/bin/sh -c GO111MODULE=on go get -v github.com/projectdiscovery/subfinder/v2/cmd/subfinder     github.com/projectdiscovery/nuclei/v2/cmd/nuclei     github.com/lc/gau     github.com/projectdiscovery/naabu/cmd/naabu

[2021-02-24 16:51] #324 closed

[2021-02-24 17:03] yogeshojha commented on #353
Looks like this will take some time. The PR from @payloadartist #346 suggests to use Naabu v2, while the build is successful from his PR, but naabu v2 has changed few commands and we may need to make necessary changes in Scan Engine. Basically tasks.py.

Please stay tuned.

[2021-02-24 17:06] omemishra commented on #353
yes because of that i was getting error.

waiting for that bro .....

Kam se kam installation to ho jaaye.

[2021-02-24 17:09] yogeshojha commented on #353
But if you skip Port scan, it should be working right? I just did the full scan, only the port scan failed, apart from that looks good on my end.

[2021-02-24 17:10] omemishra commented on #353
bro i am not able to install it ....

make build getting failed every time i try to install the latest version.

Please check

[2021-02-24 17:12] yogeshojha commented on #353
Yes, I mean the patch sent by @payloadartist is a valid PR except that port scan is not working.

Can you clone this and give it a try https://github.com/payloadartist/rengine

[2021-02-24 17:15] yogeshojha commented on #319
Thank you, this has been updated - https://rengine.wiki/pentester/update/

[2021-02-24 17:15] #319 closed

[2021-02-24 17:16] payloadartist commented on #353
Just to clarify the ```patch-1``` branch has successful build, my master branch doesn't have the fix.

so use, ```git pull origin patch-1``` to clone that branch.

Cheers

[2021-02-24 17:18] yogeshojha commented on #353
I don't think if @omemishra would be able to download patch as such. Only me and you can download the patch, even more precisely using `gh` this can be downloaded

`gh pr checkout 346`

@omemishra see if you can download his PR patch `gh pr checkout 346`

[2021-02-24 17:41] foozzi commented on #353
same problem...

[2021-02-24 17:47] foozzi commented on #352
https://github.com/yogeshojha/rengine/issues/353

[2021-02-24 17:47] #352 closed

[2021-02-24 18:11] foozzi commented on #353
i'm install naabu@dev and now all working fine.

tomorrow I will post a bash script for a normal installation (with the creation of a regular user for security)

[2021-02-24 18:29] foozzi commented on #353
[code]
work fine.

[2021-02-24 18:35] omemishra commented on #353
yo bro fine now ...

manually install the dev of naabu

[2021-02-24 18:45] foozzi commented on #353
but the problem was obvious in naabu, manually everything was installed fine, but the patch worked 100%

[2021-02-24 18:50] goodrookie commented on #345
I guess the problems comes after I imported by mistake a large number of **targets, approximately 30000**, and I think that the list targets web page can't handle that. From time to time, I refresh the page and by surprise it appears and let me delete 50 targets at most and then I enter a new cycle of 502 errors. I've been playing with **nginx config file**, modifying its parameters and values wit

[2021-02-24 18:56] omemishra opened #354 "Stored XSS at Notification Section"
Hello Yogesh,

How are you i have again found a xss

#Your Slack channel

Now save it and click on delete [

https://0.0.0.0/notification/#

[2021-02-24 18:56] yogeshojha commented on #353
I am doing the final testing for naabu, with v2 and @payloadartist PR, everything should be working perfectly fine in some time.

[2021-02-24 18:56] omemishra commented on #354
![stored-xss-notification](https://user-images.githubusercontent.com/25466820/109051067-220e4d00-7700-11eb-89cb-1481aae1af75.png)

payload
"><><><><img src=x onmouseover=alert(1)>

[2021-02-24 18:57] yogeshojha commented on #353
The problem was naabu had earlier -ports top-100, 80, 8080 syntax which is now changed to

-p 80, 8080
and
-top-ports 100

So it failed.

[2021-02-24 18:58] omemishra commented on #354
`"><><><><img src=x onmouseover=alert(1)>`

[2021-02-24 18:59] yogeshojha commented on #353
Now it has been fixed.

https://github.com/yogeshojha/rengine/pull/346/files

Let me confirm if everything is working. Then I will merge. So far, going good.

[2021-02-24 18:59] omemishra commented on #354
`https://0.0.0.0/scanEngine/wordlist/#`

same here also

[2021-02-24 19:35] yogeshojha commented on #343
Hi, can you please send me an email yogesh.ojha11@(gmail).com

[2021-02-24 19:35] #343 closed

[2021-02-24 19:36] yogeshojha commented on #353
Thank you for reporting this. This has now been fixed. Build is passed 🚀 Happy reconnaissance

[2021-02-24 19:36] #353 closed

[2021-02-24 19:37] yogeshojha commented on #354
Oops, Thank you for reporting.
Nice finding.

Whenever you're free can you please check all the instances of XSS and report it to the same issue? I will try to close all of them.

[2021-02-24 19:39] omemishra commented on #354
Hello Bro,

sure i will and let you know.

Take care bro

[2021-02-24 22:06] goodrookie commented on #335
Hey there c4nh0t0, did you find at least an informal way to do this? I need it too! Thanks!

[2021-02-25 05:52] R0X4R opened #355 "Feature - Delete multiple scan results"
Hello @yogeshojha,
Can you please add a feature to **delete multiple scan** results from the **scans history** page.

![Screenshot 2021-02-25 111934](https://user-images.githubusercontent.com/32596297/109109562-86122f00-775b-11eb-8ae3-c1e460931d0f.jpg)

Thanks,
Eshan Singh

[2021-02-25 05:59] #293 closed

[2021-02-25 05:59] #268 closed

[2021-02-25 05:59] #247 closed

[2021-02-25 06:00] #326 closed

[2021-02-25 06:00] #230 closed

[2021-02-28 11:34] c4nh0t0 opened #357 "Failing Scan - rEngine Failing Finishing Scan"
### Issue Summary

I was running rEngine normally, yesterday after git pulling new version of rEngine the scans fails every time. Don't know how to give more technical details because I just git pull a previous version already running in  my VPS and then crashed all the scans that I've made.

### Steps to Reproduce

1. git pull
2. make build
3. make up
4. run a test scan and check that it fails

!

[2021-02-28 14:31] theserializator-2 opened #358 "ERROR/MainProcess] consumer: Cannot connect to amqp://guest:**@127.0.0.1:5672//: [Errno 111] Connection refused"
I get this error:
" ERROR/MainProcess] consumer: Cannot connect to amqp://guest:**@127.0.0.1:5672//: [Errno 111] Connection refused"

When I try to run the tool:
make run

and then I looked at the logs and found this error.

Any suggestions?

[2021-03-01 15:35] theserializator-2 commented on #358
Fixed.

[2021-03-01 15:35] #358 closed

[2021-03-02 05:01] yogeshojha commented on #357
Can you please attach the logs

[2021-03-04 16:54] ad0nis commented on #357
I was able to reproduce this. I also had a previously-running rengine instance, did the same steps, and ended up with naabu port scans that had been running for over 17 hours, and appearing to be hung up.

[2021-03-04 18:39] ad0nis opened #361 "Naabu holding CPU at 100% - scans never complete"
### Issue Summary

When launching a scan against a list of domains, naabu hangs the CPU up and never completes.

### Steps to Reproduce

1. Import list of domains
2. select them all and launch Full Scan
3. Wait, and observe that it never passes port scan step.
4. Screenshots are said to be complete, but never show up either.

* I have confirmed that this issue can be reproduced as described on a l

[2021-03-05 06:16] mido1677 commented on #338
i have same issue, is there are any fix?

[2021-03-05 07:41] Mebrahem1 opened #362 "import only one domain from the txt list + can't upload csv list "Invalid File type!""
### Issue Summary

When try to import txt list of subdomains or domains only one domain uploaded!

#####test.txt

[code]

also when i try to import csv list i see this error `Invalid File type!`

#####test.csv

[code]

i tried the examples from your wiki and it's not working!

### Steps to Reproduce

1. Go to https://yourserver/target/import/
2. upload your txt list you will see alert that told yo

[2021-03-06 13:10] Regala commented on #89
Any luck with this feature to able to import our existing domains? 😬

[2021-03-06 16:41] yogeshojha commented on #89
Yes @Regala, you mean you got targets and then import subdomains, on that target and continue the scan? This is almost over, v0.6 is coming soon, probably this month end with so many enhancements you all have been asking for.

[2021-03-06 17:59] Regala commented on #89
Awesome! 🙏 🙏 🙏

[2021-03-07 13:39] c4nh0t0 commented on #357
Problem solved after git pull latest updates.

[2021-03-07 13:39] #357 closed

[2021-03-07 23:22] moshealon76 commented on #362
Same issue

[2021-03-08 19:19] yogeshojha commented on #362
Can you please attach the logs, make logs? Because I am not able to replicate this. I just imported using csv and works

[2021-03-08 20:46] ad0nis commented on #362
For me, txt uploads work just fine, but CSV uploads give the same error.

[2021-03-08 22:34] mido1677 commented on #362
Hi @yogeshojha ,

Thanks for your reply,

for txt:

![Screenshot 2021-03-09 003209](https://user-images.githubusercontent.com/20936471/110390729-18290a00-806f-11eb-9b44-b7c976462b16.png)

for csv:

![Screenshot 2021-03-09 003258](https://user-images.githubusercontent.com/20936471/110390764-2414cc00-806f-11eb-9d3f-db3eccfb6629.png)

Thanks.

[2021-03-09 17:40] #245 closed

[2021-03-09 17:42] #258 closed

[2021-03-09 17:43] #270 closed

[2021-03-09 17:43] #265 closed

[2021-03-09 17:46] #332 closed

[2021-03-09 17:46] #336 closed

[2021-03-12 11:58] mido1677 commented on #362
@yogeshojha

??

[2021-03-12 16:15] 0xcrypto commented on #345
Same happened to me. Had to remove all those domains from within the database.

[2021-03-13 02:55] mido1677 commented on #362
for txt file i found the problem it's `\r` should the file not have this in the lines!
But for CSV still can't import it and i see `Invalid File type!` every time!

Thanks.

[2021-03-13 07:24] LucianoHanna opened #363 "Bug - Endpoints scan not working properly"
### Issue Summary

When I do a full-scan on my site, there are 28 endpoints but 11 alive endpoints.

The 11 alive endpoints are https and the 17 dead endpoints are http (with 301 status to https)

I think the endpoint scanner randomly use http or https, so it may give some false dead endpoints. (I checked if it is not duplicated)

### Steps to Reproduce

1. Scan a website with http:// redirect to

[2021-03-14 16:33] ringawy opened #365 "make certs error during complet install"
WARNING: Native build is an experimental feature and could change at any time
Building certs
Sending build context to Docker daemon  4.608kB

Step 1/6 : FROM alpine:latest
 ---> 28f6e2705743
Step 2/6 : RUN apk update &&     apk add --no-cache openssl &&     rm -rf /var/cache/apk/*
 ---> Running in f0506ed97550
fetch https://dl-cdn.alpinelinux.org/alpine/v3.13/main/x86_64/APKINDEX.tar.gz
fetch http

[2021-03-16 15:01] crmassociates commented on #365
sudo make certs

[2021-03-16 23:38] ringawy commented on #365
same error with sudo

[2021-03-19 01:19] lootfinder commented on #365
Ok. I had the error as well earlier. I believe it's a DNS issue.

Can you try editing:  `/etc/docker/daemon.json` and using Googles public DNS?

[code]

Then afterwards: `sudo service docker restart`

[2021-03-19 01:31] lootfinder commented on #362
I have only spent a second skimming this issue but I can assure you that the comma in the (KHTML, Like Gecko) will cause issues if it isn't being escaped in the code. Can you try removing that user-agent and trying again?

[2021-03-23 02:51] cybertricks opened #369 "setup error"
=> ERROR [stage-0  6/19] RUN GO111MODULE=on go get -v github.com/project  7.7s
------

#10 0.785 go: downloading github.com/projectdiscovery/subfinder v0.1.1
#10 1.742 go: downloading github.com/projectdiscovery/subfinder v2.4.6+incompatible
#10 7.683 go get github.com/projectdiscovery/subfinder/v2/cmd/subfinder: module github.com/projectdiscovery/subfinder@upgrade found (v2.4.6+incompatible), but

[2021-03-23 10:05] cybertricks commented on #369
all the git urls are showing 404

RUN go get -u github.com/tomnomnom/assetfinder github.com/hakluke/hakrawler

RUN GO111MODULE=on go get -v github.com/projectdiscovery/httpx/cmd/httpx

RUN GO111MODULE=on go get -v github.com/projectdiscovery/subfinder/tree/master/v2/cmd/subfinder
RUN GO111MODULE=on go get -v github.com/projectdiscovery/nuclei/v2/cmd/nuclei
RUN GO111MODULE=on go get -v github.com/l

[2021-03-24 17:02] smaranchand commented on #369
Hi @cybertricks  Just encountered the same issue, For now subfinder build error can be fixed by replacing the below lines in Dockerfile as mentioned in subfinder repo. https://github.com/projectdiscovery/subfinder/issues/405
[code]
Regards,
Smaran

[2021-03-24 17:09] cybertricks commented on #369
Thank you

[2021-03-24 17:10] #369 closed

[2021-03-25 07:24] VaibhavNagariya opened #370 "multiple runs of the scan without a schedule"
### Issue Summary

A summary of the issue.

- For a target domain, the scan is running multiple times for the same target even when the schedule is not set.

### Steps to Reproduce

1. Start the scan of multiple targets.
2. The scan for a few domains are running multiple times.
3. While this happens, the other domains in the queue are in forever waiting condition.

Any other relevant information.

[2021-03-25 14:07] MelonMusk4 opened #371 "Can't see vulnerability scan results."
Hello :)

While running a scan on a target, that uses the vulnerability scanner (Full scan, custom scan, vulnerability scan - obviously)

unfortunately, I see no results on the dashboard even though I know the target is vulnerable (also checked on logs and the target is vulnerable + no errors as well!!).

I am not sure why it happened, I cloned rengine AGAIN from GitHub and it's still not showing

[2021-03-25 14:22] yogeshojha commented on #371
Can you please attach the complete log? Looks like exception has occured

[2021-03-25 14:49] MelonMusk4 commented on #371
Of course.

I just did a new scan with another target for demo purposes.

2 files are attached -

1). rengine_start_vuln_scan.log - all the logs from starting the scan.

2). restart_rengine.log - all the logs from just restarting rengine.

[restart_rengine.log](https://github.com/yogeshojha/rengine/files/6205587/restart_rengine.log)

[rengine_start_vuln_scan.log](https://github.com/yogeshojha/reng

[2021-03-25 17:50] MelonMusk4 commented on #371
Any updates?

[2021-03-28 01:25] evantoday opened #373 "Got connection web trying to access web ui"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

# docker container ls
CONTAINER ID        IMAGE                                                     COMMAND                  CREATED             STATUS              PORTS                                                    NAMES
e1ba8753de29        docker.pkg.github.com/yogeshojha/rengine/rengine:latest   "/app/docker-entrypo…"

[2021-03-28 05:10] uBadRequest opened #374 "Feature - Screenshot Gallery"
This feature would give you the ability to screen all the screenshots that have been taken, looking for interesting sites.

The feature would add an option to the sidebar, which would display a gallery of all the screenshots that have been taken. Text could overlay the image with some info, like if technology on that site was detected... PHP, Apache. With the ability to filter specific target grou

[2021-03-29 06:59] Rahaf-crypto commented on #295
where i put this ?

[2021-03-29 23:41] TheSerialiZator commented on #371
@yogeshojha

[2021-03-30 13:28] YuraveON commented on #371
i'm having this issue too.

i just reinstall my vps several days ago, and now cant see any vulnerabilities. before reinstall everything went perfectly fine.

[2021-03-30 22:39] AlecHaring commented on #311
Make sure Docker is running on the system when you execute the make command

[2021-03-31 02:58] yogeshojha commented on #295
There's a search box on top of the scan results.

[2021-04-01 01:43] smaranchand commented on #371
Hi @yogeshojha ,  Hope you are having a great time, Just encountered the same issue. Tried looking for the root cause but no luck. The vulnerability scan is working for sure but the results are not getting populated to the database.

![Screen Shot 2021-04-01 at 7 24 44 AM](https://user-images.githubusercontent.com/36672015/113231651-6ff81100-92bb-11eb-94a5-c1c1dc132bf4.png)
Regards,
Smaran

[2021-04-02 08:46] Aju100 opened #377 "Feature - Add Knockpy"
Hi @yogeshojha,

I am working on the feature enhancement of subdomain enumeration. Here are the changes on the rengine codebase of branch add-knockpy in [my repo](https://github.com/Aju100/rengine/commit/e7ba5b859fa11ee3a0e54d37ef60653a18bd6eb6).

- tasks.py
[code]
- Added knock on tools directory
- Configure on fixtures too

**About Knockpy**
Knockpy is a python3 tool designed to enumerate subdom

[2021-04-03 04:53] DhiyaneshGeek commented on #371
@yogeshojha i'm also facing the same issue

![image](https://user-images.githubusercontent.com/24750220/113468830-51824900-9466-11eb-9050-edc9a46caa9a.png)

[2021-04-03 16:54] DhiyaneshGeek opened #379 "Feature - Run New Nuclei Template on all alive target"
Hi There

Can we have a feature to scan only newly released nuclei template on all the alive targets

[2021-04-05 08:50] chestervdb commented on #371
I am encountering the same issue as well. Have deployed rEngine following the steps
on wiki, but no success yet.
![0AC87CD7-C6A4-4D13-B363-2144E1CE7B69](https://user-images.githubusercontent.com/12883493/113556396-b374b700-95fc-11eb-93b1-82916c0f2aa6.jpeg)

[2021-04-05 14:23] TheSerialiZator commented on #371
There might be issues with docker.pkg.github.com/yogeshojha/rengine/rengine:latest ?

[2021-04-06 11:54] prettyrecon opened #380 "vulnerability_scan failed to achieve expected results"
I use this template。

[code]

**But I get the result of severity of info vulnerabilities.**

![image](https://user-images.githubusercontent.com/79907007/113707039-eb215300-9711-11eb-8653-5135fb2e7626.png)

[2021-04-07 02:35] OnePlus-Sec commented on #371
I faced same issue

[2021-04-10 16:17] chestervdb commented on #371
yogeshojha?

[2021-04-11 12:33] demon1k opened #382 "Scanner breaks when trying to fetch urls"
### Issue Summary

I scanned 4 diff targets and scanner breaks when trying to fetch urls... so it ends at dirsearch. no endpoints and no vuln scan.

### Steps to Reproduce

1. install fresh rengine on debian 10
2. follow ^ the installation manual
2. do a Full scan on a target
3. it will break while trying to fetch urls/endpoinnts

* I have confirmed that this issue can be reproduced as described o

[2021-04-11 12:44] demon1k commented on #382
root@genji:~/Fun/rengine# make username
COMPOSE_DOCKER_CLI_BUILD=1 docker-compose -f docker-compose.yml exec web python manage.py createsuperuser

You have 18 unapplied migration(s). Your project may not work properly until you apply the migrations for app(s): startScan, targetApp.
Run 'python manage.py migrate' to apply them.
Username (leave blank to use 'root'):
Email address:
Password:
Password

[2021-04-15 05:21] lur1el commented on #382
Same problem here :(

[2021-04-15 10:32] demon1k commented on #382
@yogeshojha could you please look into this when you are free?

[2021-04-16 15:45] TheSerialiZator commented on #371
Did anyone fix it?

[2021-04-16 18:21] lur1el commented on #382
@yogeshojha Same problem here!! It looks like the application is having problems with the "Fetch Urls" process... it always returns Failed :(

[2021-04-17 19:22] demon1k commented on #382
which os are you running it on?

[2021-04-18 04:27] uBadRequest opened #383 "Feature - sub domain monitoring system"
**Is your feature request related to a problem? Please describe.**
Monitoring for changes in target domains

**Describe the solution you'd like**
Checking for new/removed subdomains or updated CNAMEs for targets every 5 days

**Describe alternatives you've considered**
Some tools out there for this, but I like rengine better :)

**Additional context**

![image](https://user-images.githubuserconten

[2021-04-18 10:19] chestervdb commented on #371
Don't think so. I couldn't discover the issue myself and the last change was 18 days ago.

[2021-04-18 19:58] lur1el commented on #382
@demon1k Ubuntu.I tested it on Debian and the problem happens too. :(

[2021-04-19 04:07] yogeshojha commented on #383
![image](https://user-images.githubusercontent.com/17223002/115180227-c0140780-a0f2-11eb-92a2-c48f1f3d749b.png)
 This is actually coming ❤️ Please wait for the new major release.

[2021-04-19 04:08] yogeshojha commented on #383
Already worked upon, waiting for OSINT and few other things to sync together. And will release everything together 🚀

[2021-04-20 11:58] AlexisGrgs opened #384 "Bug - Scan failed"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

I tried this morning to run some discovery scans (subdomain + URL) but all scan failed, it worked perfectly two weeks ago.
I updated rengine, same problem. I reinstalled a vm kali to start from scratch and still the same problem on a brand new and updated kali and updated rengine, I don't understand what's going on.

The subdom

[2021-04-20 12:00] AlexisGrgs commented on #382
Same here on my VM which worked well two weeks agon, same issue on new kali linux freshly installed and updated

[2021-04-20 23:25] anggipradana commented on #384
Yes, I have the same problem, but the display is different. Vulnerability scanner finished but no results. I have tried doing a manual scan and there are some results, but no results in the rengine.

[2021-04-20 23:32] anggipradana commented on #371
Any update?

[2021-04-21 01:11] uBadRequest opened #385 "Axiom integration - Lets go FAST!"
**Is your feature request related to a problem? Please describe.**
Scanning from one machine is so boring and slow. Lets get distributed and go fast.

**Describe the solution you'd like**

If user enabled use of Axiom in the scan engine, all scans using that engine are distributed among the axiom hosts.

Also, I wouldn't want a large fleet of hosts created by axiom running with nothing to do for a

[2021-04-21 20:04] uBadRequest commented on #385
What do you think @yogeshojha?

[2021-04-22 16:13] yogeshojha commented on #384
Oops, sorry about it guys. I was away due to my health issues. Please be assured, I am working on it. Will investigate the cause, in the mean time can you attach the scan engine yaml?

[2021-04-22 16:13] yogeshojha commented on #382
Oops, sorry about it guys. I was away due to my health issues. Please be assured, I am working on it. I Will investigate the cause, in the meantime can you attach the scan engine YAML?

[2021-04-22 16:18] anggipradana commented on #384
Get well soon Mr @yogeshojha , Thank you for your response. We really appreciate you. 🙏

[2021-04-22 16:21] anggipradana commented on #384
I think this is same issue with #371 issue, so that you can check logs and scan engine yaml on previous issue

[2021-04-22 22:14] demon1k commented on #382
@AlexisGrgs and @lur1el  could you guys attach the Scan Engine YAML for @yogeshojha . because i killed my vps after i ran into this issue. @yogeshojha i ran it with default settings when this error showed up. Hope that helps.

[2021-04-25 05:04] #384 closed

[2021-04-25 05:05] yogeshojha commented on #382
Fixed. This was due to a JSON object not existing.

[2021-04-25 05:05] #382 closed

[2021-04-25 05:08] yogeshojha commented on #371
Thank you for your patience. I was away due to my health issues, apologies for the long due. I have just fixed this.

[2021-04-25 05:09] #371 closed

[2021-04-25 05:09] yogeshojha commented on #371
Let me know if you still experience this.

[2021-04-25 16:37] chestervdb commented on #371
Hope you are doing well now @yogeshojha! #371 is still present. I've redeployed the git on a fresh digitalocean docker droplet, but after scanning around 1000 subs, still 0 vulnerabilities were discovered.

[2021-04-25 18:08] yogeshojha commented on #371
You are right. Thank you for bringing this to my attention. Nuclei JSON output had changed, which caused this issue. Fixed it just now again. Please do a git pull.
![image](https://user-images.githubusercontent.com/17223002/116004209-4e224d80-a61f-11eb-9c49-a1198b7f4b1b.png)

[2021-04-25 18:31] DhiyaneshGeek commented on #329
@yogeshojha is it possible to share the directory where nuclei templates are stored ? are those templates gets updated frequently ?

[2021-04-25 18:35] yogeshojha commented on #329
This feature has been already released in v0.5

https://rengine.wiki/pentester/scan_engine/#vulnerability_scan

Please follow the instructions here on how to exclude or include templates.

Example

[code]

or

[code]

Yes, nuclei template gets updated frequently. Before vulnerability scan is performed, it will check if any new templates exists, and will auto-download.

[2021-04-25 18:36] #329 closed

[2021-04-25 18:39] DhiyaneshGeek commented on #379
@yogeshojha is it possible to have a feature to run custom or private templates ?

[2021-04-25 18:41] yogeshojha commented on #379
This would be a nice add-on! I will consider this for the upcoming major release.

[2021-04-25 18:43] DhiyaneshGeek commented on #371
@yogeshojha Thanks a lot for Fixing the issue :)

[2021-04-25 18:45] yogeshojha commented on #371
Cheers mate 🚀 stay tuned for reNgine another major release with Scan Comparision, ability to discover interesting subdomains and endpoints, gf xss, ssrf,....etc. Can't wait to release. 🚀
Stay tuned and enjoy reNgine.

[2021-04-25 18:58] chestervdb commented on #371
It is working now, thanks a lot @yogeshojha! Looking forward to the new major release! Any ETA you can disclose?

[2021-04-25 19:41] DhiyaneshGeek opened #392 "Supply API keys for Subdomain Enumeration"
How to supply API Keys for Subfinder?

Is it possible to have a separate tab or location ?

[2021-04-25 19:42] yogeshojha commented on #392
Please folllw the official documentation. https://rengine.wiki/pentester/usage/#configurations

[2021-04-25 19:42] #392 closed

[2021-04-26 09:41] log4works commented on #385
Agree.. [https://github.com/pry0cc/axiom](https://github.com/pry0cc/axiom) rengine+axiom will be awesome

[2021-04-26 09:45] anggipradana commented on #385
Agree, this will be faster and solve IP blocking problem @yogeshojha

[2021-04-26 11:17] yogeshojha commented on #385
Sounds awesome, give me sometime to think about it as I have never used axiom in the past. Need to see how we can use axiom in reNgine. If you have any ideas, please feel free to give.

[2021-04-27 23:59] uBadRequest commented on #385
All the tools ReNgine uses, could be ran distributed across your botnet(linode/digital ocean).You can run ffuf across a fleet of hosts, it would split your dictionary up by the number of hosts you have in your botnet, each one gets a piece of the dictionary.

Or you run Nuclei across 500 subdomains, axiom splits those subdomains up by the number of hosts in your botnet, each host gets their piece

[2021-04-29 08:36] spazbg opened #393 "How can I uninstall rengine?"
Any tips on how to remove the rengine?

[2021-05-04 08:51] big-ppp opened #395 "Feature - Set a custom user agent"
Would be nice if we could have the option of setting a user agent as I think most WAFs will block some of the user agents that these tools set by default

[2021-05-05 13:43] moshealon76 opened #396 "Bug - Endpoint Scan"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

A summary of the issue.

I scanned some domains. And in all the scans the engine tries to scan the whole site endpoints(ecommerce site) and downloads every file (png,jpg, jss, html) that exists on the site. Also the scan takes a long time (over 14 hours) (in the previous version this did not happen)

### Steps to Reproduce

1.

[2021-05-05 14:21] yogeshojha commented on #396
Did you try cloning the release/1.0 branch? because this UI is currently being developed and is not at all stable. Can you please try cloning the master branch?

[2021-05-05 14:24] yogeshojha commented on #395
This is in the pipeline, and #394 has already been merged. Please wait for the newer release.

[2021-05-05 16:58] d1pakda5 opened #397 "Vulnerability Scan Failed"
Hi i tried multiple time to scan for vulnerability , one target having 6k+ subdomain but not showing any vulnerability

[2021-05-05 16:59] d1pakda5 commented on #397
<img width="1520" alt="image" src="https://user-images.githubusercontent.com/17035598/117180004-5afa2a80-adf1-11eb-8823-dc8c02e8d3bc.png">

[2021-05-09 12:38] c4nh0t0 commented on #397
Yeah I'm also having the same issue after gitting clone new versions of this repo. Same target (that has vulns) now didn't show any vulnerability. Not even information is showing.

Scanned at May 7, 2021, 11:38 p.m.
![image](https://user-images.githubusercontent.com/8462973/117572622-1947d900-b0aa-11eb-8ad0-72c51ed38fa4.png)

Scanned at Jan. 3, 2021, 2:21 a.m.
![image](https://user-images.githubus

[2021-05-09 14:13] yogeshojha commented on #371
There are a lot of major changes and I am working super hard on it. You can expect it to be released by mid of June. But if things go well, it may well before June mid also.

[2021-05-13 11:44] gprime31 opened #398 "[Feature Request] Queue system option for scans"
Queue system option for scans so they run one after the other, and not all at once.
The scheduler is great but it's hard to time the scans, sometimes they take longer and overlap and 20 are running at once.
Thanks

[2021-05-14 00:27] uBadRequest opened #399 "Duplicated work? Speed improvement?"
If you don't set it to aggressive, it looks like this happening twice?

https://github.com/yogeshojha/rengine/blob/b0bf3480bf0b463156d37ff866d49fe34265d23e/reNgine/tasks.py#L565-L570

https://github.com/yogeshojha/rengine/blob/b0bf3480bf0b463156d37ff866d49fe34265d23e/reNgine/tasks.py#L604-L606

And for aggressive, why can't we just pipe the list of subdomains to the tools in get_urls? I would thin

[2021-05-14 16:18] #396 closed

[2021-05-15 19:16] yogeshojha commented on #399
You're right @uBadRequest, but this is going to be fixed in the release 1.0. Can you please verify in the branch release/major-1.0 and self close - if this no longer is relevant.

Thank you

[2021-05-15 19:18] yogeshojha commented on #398
Currently scans runs on celery queues right? Correct me if I am wrong, suppose there are 5 domains to scan, you initiate all of them, suppose you have 4 core available, this will run 4 scans and 5th is in pending state. When one of the scans is finished, the remaining scans runs.

Is this what you mean?

[2021-05-15 19:23] yogeshojha commented on #88
Finally done 🚀

![Screenshot 2021-05-16 at 12 51 56 AM](https://user-images.githubusercontent.com/17223002/118375690-ed17e500-b5e0-11eb-9211-223ce0652700.png)

Also, you get this badge on urls
![Screenshot 2021-05-16 at 12 53 03 AM](https://user-images.githubusercontent.com/17223002/118375712-146eb200-b5e1-11eb-934b-f62b75b34f5f.png)

Can't wait to release.

[2021-05-15 19:25] yogeshojha commented on #110
Finally done 🚀

![Screenshot 2021-05-16 at 12 51 56 AM](https://user-images.githubusercontent.com/17223002/118375690-ed17e500-b5e0-11eb-9211-223ce0652700.png)

Also, you get this badge on urls
![Screenshot 2021-05-16 at 12 53 03 AM](https://user-images.githubusercontent.com/17223002/118375712-146eb200-b5e1-11eb-934b-f62b75b34f5f.png)

Can't wait to release.

[2021-05-15 19:31] #91 closed

[2021-05-15 19:34] #222 closed

[2021-05-15 19:34] #269 closed

[2021-05-15 19:36] #285 closed

[2021-05-15 19:36] #290 closed

[2021-05-15 19:36] #297 closed

[2021-05-15 19:36] #298 closed

[2021-05-15 19:37] #302 closed

[2021-05-15 19:38] yogeshojha commented on #308
This is coming 🚀

https://github.com/yogeshojha/rengine/commit/457a194f4e96eea1fa1a236ab768cf48ce9a766e

[2021-05-15 19:39] #318 closed

[2021-05-15 19:40] yogeshojha commented on #321
I had never thought of this. Thanks

[2021-05-15 19:40] #317 closed

[2021-05-15 19:42] #333 closed

[2021-05-15 19:43] #339 closed

[2021-05-15 19:43] #342 closed

[2021-05-15 19:44] #365 closed

[2021-05-15 19:44] #373 closed

[2021-05-15 19:48] yogeshojha commented on #393
[code]

[2021-05-15 19:48] #393 closed

[2021-05-15 22:12] gprime31 commented on #398
Yes, but have the option to just have one run, then queue the rest.

[2021-05-16 14:25] hims1911 commented on #374
I want to work this issue.

[2021-05-16 17:41] c4nh0t0 commented on #397
I've cloned the release/major-1.0 and installed from the ground. Still having same issues with Vulnerability module.

[2021-05-17 06:13] yogeshojha commented on #397
Please do not clone release/major-1.0, the work is currently in progress and is not at all stable. It will be released only on the week of June 23.

[2021-05-17 12:11] S3ntago commented on #110
Man, this is so great,,,,, awesome job

[2021-05-17 14:31] T-Virus-443 commented on #397
Óla eu também fiz analise de vulnerabilidade em um site de teste http://testphp.vulnweb.com/,
o reNgine não me trouxe as vulnerabilidades

![reNgineReporte](https://user-images.githubusercontent.com/33964602/118505946-44ae7180-b703-11eb-84c7-d6245579b3fd.png)

Hi, I also did a vulnerability analysis on a test site http://testphp.vulnweb.com/,
reNgine didn’t bring me the vulnerabilities

[2021-05-17 19:38] yogeshojha commented on #110
Added badge for gf results

![image](https://user-images.githubusercontent.com/17223002/118546406-87a92d00-b775-11eb-9096-59c786b739e8.png)

[2021-05-20 21:09] uBadRequest commented on #399
Looks good to me!

[2021-05-20 21:09] #399 closed

[2021-05-21 01:48] wapwn opened #400 "Feature - Option for Passive ports scan"
Can you make an option to choose passive ports scan results from shodan, censys,...
Sometimes you just need to see the overview without touching the target

[2021-05-21 21:16] d1pakda5 commented on #397
@yogeshojha Kindly look into it

[2021-05-25 16:53] yogeshojha commented on #374
I can confirm that this is done 🚀
![image](https://user-images.githubusercontent.com/17223002/119537501-b9d71200-bda7-11eb-90fc-81caf9191c1e.png)

[2021-05-26 10:52] DhiyaneshGeek opened #401 "IP Rotation/Proxychain Support and Nessus API Integration"
**Is your feature request related to a problem? Please describe.**

**IP Blocking/Banned:**
i have installed rengine on VPS and My Ip address is getting blocked during scans. some of the targets are US based which are not accessible from Indian region VPS. likewise for other region as well .

**Nessus Integration**
i have a set of IP address of a target , where i want to run nessus scan, if it is

[2021-05-27 05:13] yogeshojha commented on #374
Added filtering as well
![image](https://user-images.githubusercontent.com/17223002/119769584-5567a000-bed8-11eb-9763-c700369b72c2.png)

[2021-05-27 18:44] foozzi commented on #361
same problem

[2021-05-28 12:45] techasit14607 commented on #401
It's not work. Lost the time.

[2021-05-28 15:06] tomsec opened #404 "Bug - Application is not accessible after setting it up in WSL"
I installed the application in WSL and upon accessing the localhost I am getting 403 error. I checked the logs and the following is the output "[INFO] Booting worker with pid: 12".

[2021-05-28 15:38] FIXERMAN opened #405 "Bug - Make File"
root@fixer:/home/fixer/tools/rengine# make up
COMPOSE_DOCKER_CLI_BUILD=1 docker-compose -f docker-compose.yml up -d --build db web proxy redis celery celery-beat
Building web
Sending build context to Docker daemon  212.3MB
Step 1/28 : FROM python:3-alpine
 ---> 2d64a2341b7c
Step 2/28 : LABEL     name="reNgine"     author="Yogesh Ojha <yogesh.ojha11@gmail.com>"     description="reNgine is a automat

[2021-05-29 04:12] yogeshojha commented on #401
Sure, this is on priority and I am working on it.

[2021-05-29 14:19] techasit14607 commented on #401
You have to learn Thai language.

[2021-05-30 15:52] ohlinge commented on #405
+1

[2021-05-31 06:19] meridian0x01 commented on #260
Hi there.
Any updates, regarding this issue or any ETA?
Thanks

[2021-05-31 10:18] soufian2017 opened #406 "Feature - Results export"
**Is your feature request related to a problem? Please describe.**
When ever a scan is finished, subdomains and endpoints are listed on there own pages but there is no option to export them and use the output in different tools/reports.

**Describe the solution you'd like**
When you visit subdomains page for example, an export button appears with different options such as txt,csv,json and on click

[2021-06-03 04:15] demon1k opened #408 "Scanner dies after fetching endpoints"
celery_1       | [2021-05-15 13:39:11,199: ERROR/MainProcess] Process 'ForkPoolWorker-1' pid:12 exited with 'signal 9 (SIGKILL)'
celery_1       | [2021-05-15 13:39:23,392: ERROR/MainProcess] Task handler raised error: WorkerLostError('Worker exited prematurely: signal 9 (SIGKILL).')
celery_1       | Traceback (most recent call last):
celery_1       |   File "/usr/local/lib/python3.9/site-packages/

[2021-06-05 17:00] yogeshojha commented on #89
I am excited to update you that this is coming :rocket:

This is the flow

1. Initiate a scan
2. Choose the scan engine
![image](https://user-images.githubusercontent.com/17223002/120899448-743f0280-c64d-11eb-9e01-e3cc8754b1aa.png)
3. Import subdomains from an external source
![image](https://user-images.githubusercontent.com/17223002/120899478-8faa0d80-c64d-11eb-9006-7c33f8095223.png)

If the imp

[2021-06-06 14:28] Regala commented on #89
This looks great @yogeshojha , thank you! Excited to try it out.

(unrelated) quick question since I have you and other people might be interested:
- Is there any simple/basica API we can use? I'm interested to basically sending data from my tools and leaverage Rengine for visualization of results
-
Cheers!

[2021-06-06 14:31] Regala commented on #374
Looks great can we have it pushed? 🤩

[2021-06-06 14:45] yogeshojha commented on #89
I am excited to release this as well @Regala.
Working super hard  from past 5 months, and We have so many exciting features coming up, Scan comparision, newly added/removed subdomain/endpoints, ability to find interesting subdomains/endpoints, OSINT, huge improvement in scans, upload custom nuclei patterns, and also now you've GF as well, upload your custom gf pattern and so many exciting features

[2021-06-06 15:19] Regala commented on #89
Beautiful!!! Great job 💚💚💚

[2021-06-15 10:40] Ajatars commented on #405
vim Dockerfile

add
ENV GO111MODULE="on"
ENV GOPROXY="https://goproxy.io,direct"

[2021-06-16 10:16] DhiyaneshGeek commented on #401
@yogeshojha is this feature completed bro ?

[2021-06-20 08:54] maddy45 opened #412 "error while building rengine in wsl2 ubuntu"

[2021-06-20 09:04] #412 closed

[2021-06-20 09:08] maddy45 commented on #412
i was having problem cause i was not in root, running commands with root permission solved it

[2021-07-05 13:50] PRAZPC opened #413 "Feature - need xss scanner"
xss is a major bug in any website and it is one of the most common bug adding it in the rengine will be a great to all of us

[2021-07-05 13:52] PRAZPC opened #414 "Feature -pause and resume"
there should be pause and resume feature

[2021-07-13 07:53] itsmeashim opened #415 "Can't access rengine after installing."
I have installed rengine using make build command and after that make run command. I am using Cloudflare as a nameserver and domain manager for the domain I am going to use for rengine. I am using ubuntu VM from oracle.

rengine logs:
![image](https://user-images.githubusercontent.com/84639398/125413344-88359ea5-76f6-45aa-aea3-ed71e1cf608b.png)

I am not able to access it neither from the domain n

[2021-07-15 08:51] foozzi commented on #415
same problem!

[2021-07-15 15:24] TheShooter commented on #415
Same!

[2021-07-19 15:18] tomsec commented on #415
I installed the reNgine in Debian distro in WSL and I was also facing the same issue where I wasn't able to access the application. I am not sure if it will work for you or not but it will be worth giving it a try.

Install reNgine by following the same approach as specified in the wiki. Just don't install docker-compose since it will be pre-included with the Docker desktop. Once you are done inst

[2021-07-27 00:38] 00xData opened #417 "Dirbuster error"
Hello i try to make a full scan but i get this error from Dirsearch for every subdomain.
Error Log: /app/tools/dirsearch/logs/errors-21-07-27_00-35-52.log
And dont show any endpoint after the scan.

Any advice?

[2021-07-28 14:51] 00xData commented on #417
Fixed - Reinstall New Ubuntu version

[2021-07-28 14:51] #417 closed

[2021-07-30 15:22] ratpunk2 opened #418 "Unable to import target(s)"
Whenever I am trying to upload target list, I am getting following error "Oops! File format was invalid, could not import any targets." Target list is already in .txt format.

[2021-08-01 17:05] foozzi opened #419 "FTP Service with default credentials"
FTP Service with default credentials
but it is not known exactly what standard data

[2021-08-05 20:51] vpsfree13 commented on #238
how i can solve this error i dont have any process work on port 80 i install everything but proxy problem :( i cant up tool on gcp
help me please this error

ERROR: for proxy  Cannot start service proxy: driver failed programming external connectivity on endpoint rengine_proxy_1 (0c7be04d28979132bdba34ebf2f27bb16008e7137c904a6524f32a4d755089c5): Error starting userland proxy: listen tcp4 0.0.0.0:8

[2021-08-06 12:14] schniggie commented on #419
same here, cannot find any hint in the source code by searching for ftp, default credentials ....

[2021-08-09 03:30] micr0seft commented on #175
I went ahead and implemented this, after we spoke on twitter yesterday.
[dark_mode.zip](https://github.com/yogeshojha/rengine/files/6951982/dark_mode.zip)

I altered base.html, index.html, notification index, and top_nav. 2 js files were added to assest/js/, theme-switcher and darkreader.js. If you have any questions let me know. This was all tested working on Firefox 90.0.2 on Ubuntu 20.04

[2021-08-09 04:48] Official-BlackHat13 opened #420 "bug make certs"
Found a bug? Please fill out the sections below. 👍

### Issue Summary
└─$ make certs
Traceback (most recent call last):
  File "urllib3/connectionpool.py", line 677, in urlopen
  File "urllib3/connectionpool.py", line 392, in _make_request
  File "http/client.py", line 1277, in request
  File "http/client.py", line 1323, in _send_request
  File "http/client.py", line 1272, in endheaders
  File "ht

[2021-08-09 04:53] #420 closed

[2021-08-09 08:37] PR3R00T commented on #418
Hey @ratpunk2
So I encountered this problem, Its to do with Windows and Linux different End of Line finishes.
first make sure your file is like

test1.example.com
test2.example.com
test3.example.com

Then if you are on a windows computer, open up Notepad ++ : Edit -> EOL Conversions -> Unix (LF) save the file and try again
If you are on a Linux terminal and you have copied the file from a windows

[2021-08-09 11:59] Teicu commented on #413
reNgine is a reconnaissance engine(framework) so wtf?  what does this tool have to do with vulnerability scanning when there are so many other scanners

[2021-08-09 13:53] PRAZPC commented on #413
hey you m****rF****r  just shut you mouth , Do you even know what are you saying ? , have you ever use reNgine you son of b***h , reNgine uses other scanner such as (aMass , sublist3r etc) and give you result in better form with an good ui , reNgine is used to find vulnerability you idiot have you ever seen there is an option of vulnerability scanning which search for only subdomain take over vuln